Repository thepeacockproject/Peacock, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RDIL, @AnthonyFuller, @fu5ha

.github/CODEOWNERS:

# CI
.cirrus.yml @RDIL
.github/workflows @RDIL
.github/workflows/locale.yml @AnthonyFuller

# LiveSplit
components/livesplit @fu5ha

# Evergreen
components/evergreen @AnthonyFuller
components/evergreen.ts @AnthonyFuller

# Localisation
resources @AnthonyFuller

Fix the eslint error
  components/webFeatures.ts
Owners: none

chore: bump version to 7.3.5
  package.json
Owners: none

fix more orders
  components/candle/challengeService.ts
  contractdata/GLOBAL/_AMMONIA_CHALLENGES.json
  contractdata/GLOBAL/_CHEESECAKE_CHALLENGES.json
Owners: none

fea(h6): support Statistics page
  components/2016/legacyMenuData.ts
  components/candle/challengeService.ts
Owners: none

chore: move legacy ebola location to the correct place
  static/LegacyLocationsData.json
Owners: none

chore: remove unused config, add LegacyStatisticsTemplate
  components/configSwizzleManager.ts
  static/LegacyDestinations.json
  static/LegacyStatisticsTemplate.json
Owners: none

fix(h6): MasteryLocation endpoint not showing pro1
  components/2016/legacyMenuData.ts
Owners: none

feat: add extractFeaturedContracts script
  package.json
  packaging/extractFeaturedContracts.mjs
Owners: none

chore: my head hurts after slamming it through my desk
  components/2016/legacyMenuData.ts
Owners: none

chore: remove debug timing
  components/2016/legacyMenuData.ts
Owners: none

image paths
  contractdata/BERLIN/_BERLIN_CHALLENGES.json
  contractdata/CHONGQING/_CHONGQING_CHALLENGES.json
  contractdata/HOKKAIDO/_HOKKAIDO_CHALLENGES.json
  contractdata/MUMBAI/_MUMBAI_CHALLENGES.json
Owners: none

chore: delete LastUpdate in FCs
  packaging/extractFeaturedContracts.mjs
Owners: none

feat: add in-game modal when Peacock l10n isn't detected
  components/configSwizzleManager.ts
  components/menus/menuSystem.ts
  resources/locale.json
  static/DynresModal.json
  static/EiderDashboard.json
  static/H2DashboardTemplate.json
Owners: @AnthonyFuller

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

Store entire objective in sessions instead of only the sm definition
  components/contracts/sessions.ts
  components/eventHandler.ts
  components/scoreHandler.ts
  components/types/types.ts
  components/utils.ts
  tests/src/__snapshots__/databaseHandler.test.ts.snap
  tests/src/databaseHandler.test.ts
Owners: none

Fetch requested contract data instead of group contract in scorehandler
  components/scoreHandler.ts
Owners: none

Fetch requested contract data instead of group contract in scorehandler
  components/scoreHandler.ts
Owners: none

Store entire objective in sessions instead of only the sm definition
  components/contracts/sessions.ts
  components/eventHandler.ts
  components/scoreHandler.ts
  components/types/types.ts
  components/utils.ts
  tests/src/__snapshots__/databaseHandler.test.ts.snap
  tests/src/databaseHandler.test.ts
Owners: none

feat!: add game version to resolveContract
  components/2016/legacyContractHandler.ts
  components/2016/legacyMenuData.ts
  components/2016/legacyProfileRouter.ts
  components/candle/challengeHelpers.ts
  components/candle/challengeService.ts
  components/candle/progressionService.ts
  components/contracts/contractRouting.ts
  components/contracts/contractsModeRouting.ts
  components/contracts/dataGen.ts
  components/contracts/escalations/escalationService.ts
  components/contracts/hitsCategoryService.ts
  components/contracts/leaderboards.ts
  components/controller.ts
  components/eventHandler.ts
  components/livesplit/liveSplitManager.ts
  components/loggingInterop.ts
  components/menuData.ts
  components/menus/campaigns.ts
  components/menus/destinations.ts
  components/menus/favoriteContracts.ts
  components/menus/hub.ts
  components/menus/planning.ts
  components/menus/playnext.ts
  components/menus/stashpoints.ts
  components/multiplayer/multiplayerMenuData.ts
  components/multiplayer/multiplayerService.ts
  components/profileHandler.ts
  components/scoreHandler.ts
Owners: @fu5ha

feat: update allunlockables
  static/allunlockables.json
Owners: none

chore: update game line hashes
  tests/testData/game-defined-locr-crc32s.msgpack
Owners: none

feat: update filter data
  static/FilterData.json
Owners: none

feat: move ambrose to season 2
  components/menus/campaigns.ts
  components/menus/playnext.ts
  static/LocationsData.json
Owners: none

feat: tomorrowland DLC and arcade mission
  components/contracts/elusiveTargetArcades.ts
  components/contracts/missionsInLocation.ts
  components/inventory.ts
  components/ownership.ts
  components/platformEntitlements.ts
  contractdata/ARCADE/COCONUT/COCONUT.json
  contractdata/ARCADE/COCONUT/COCONUT1.json
  contractdata/ARCADE/COCONUT/COCONUT2.json
  static/EscalationCodenames.json
Owners: none

chore: bump server versions
  components/index.ts
  components/menus/menuSystem.ts
  components/officialServerAuth.ts
  packaging/extractChallengeData.mjs
  packaging/extractElusivesChallengeData.mjs
  packaging/extractFeaturedContracts.mjs
  static/ServerVersionConfig.json
Owners: none

feat: add electric trilogy challenge
  contractdata/HAVEN/_HAVEN_CHALLENGES.json
Owners: none

feat: update store data
  static/StoreData.json
Owners: none

feat: add completion challenge for coconut
  contractdata/ARCADE/_ARCADE_CHALLENGES.json
Owners: none

feat: move dugong sublocation to season 2
  static/LocationsData.json
Owners: none

chore: bump server versions
  components/index.ts
  components/menus/menuSystem.ts
  components/officialServerAuth.ts
  packaging/extractChallengeData.mjs
  packaging/extractElusivesChallengeData.mjs
  static/ServerVersionConfig.json
Owners: none

feat: update allunlockables
  static/allunlockables.json
Owners: none

feat: move ambrose to season 2
  components/menus/campaigns.ts
  components/menus/playnext.ts
  static/LocationsData.json
Owners: none

feat: update filter data
  static/FilterData.json
Owners: none

feat: update store data
  static/StoreData.json
Owners: none

feat: tomorrowland DLC and arcade mission
  components/contracts/elusiveTargetArcades.ts
  components/contracts/missionsInLocation.ts
  components/inventory.ts
  components/ownership.ts
  components/platformEntitlements.ts
  contractdata/ARCADE/COCONUT/COCONUT.json
  contractdata/ARCADE/COCONUT/COCONUT1.json
  contractdata/ARCADE/COCONUT/COCONUT2.json
  static/EscalationCodenames.json
Owners: none

chore: update game line hashes
  tests/testData/game-defined-locr-crc32s.msgpack
Owners: none

feat: add completion challenge for coconut
  contractdata/ARCADE/_ARCADE_CHALLENGES.json
Owners: none

feat: add electric trilogy challenge
  contractdata/HAVEN/_HAVEN_CHALLENGES.json
Owners: none

feat: move dugong sublocation to season 2
  static/LocationsData.json
Owners: none

chore: bump version to 7.4.0
  package.json
Owners: none
