Repository thepeacockproject/Peacock, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RDIL, @AnthonyFuller, @fu5ha

.github/CODEOWNERS:

# CI
.cirrus.yml @RDIL
.github/workflows @RDIL
.github/workflows/locale.yml @AnthonyFuller

# LiveSplit
components/livesplit @fu5ha

# Evergreen
components/evergreen @AnthonyFuller
components/evergreen.ts @AnthonyFuller

# Localisation
resources @AnthonyFuller

chore: update deps
  .yarn/releases/yarn-4.3.0.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
  packaging/typedefs/package.json
  webui/package.json
  yarn.lock
Owners: none

Revert "chore: update deps"
  .yarn/releases/yarn-4.3.0.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
  packaging/typedefs/package.json
  webui/package.json
  yarn.lock
Owners: none

make it smoother
  contractdata/MUMBAI/ESCALATION/ARTEMIS/ARTEMIS1.json
  contractdata/MUMBAI/ESCALATION/ARTEMIS/ARTEMIS2.json
  contractdata/MUMBAI/ESCALATION/ARTEMIS/ARTEMIS3.json
  resources/locale.json
  static/PeacockGameChangerProperties.json
Owners: @AnthonyFuller

remove duplicated line
  resources/locale.json
Owners: @AnthonyFuller

run prettier
  static/PeacockGameChangerProperties.json
Owners: none

Add more logging to progression transfer
  components/webFeatures.ts
Owners: none

Run patcher workflow when targeting master
  .github/workflows/patcher.yml
Owners: @RDIL

Bump version to 7.3.3
  package.json
Owners: none

Copy new contracts.prp
  packaging/ciAssemble.sh
Owners: none

fix: hokkaido and haven default suit unlockable (#488)
  components/utils.ts
  static/StashpointTemplate.json
Owners: none

Bump version to 7.3.4
  package.json
Owners: none

chore: yarn v4.4.0
  .yarn/releases/yarn-4.3.0.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
Owners: none

chore: bump version to 8.0.0-dev
  package.json
Owners: none

feat: add wrapper challenges for separate locations (#497)
  contractdata/AMBROSE/_AMBROSE_CHALLENGES.json
  contractdata/BANGKOK/_BANGKOK_CHALLENGES.json
  contractdata/BERLIN/_BERLIN_CHALLENGES.json
  contractdata/CARPATHIAN/_CARPATHIAN_CHALLENGES.json
  contractdata/CHONGQING/_CHONGQING_CHALLENGES.json
  contractdata/DUBAI/_DUBAI_CHALLENGES.json
  contractdata/SANTAFORTUNA/_SANTAFORTUNA_CHALLENGES.json
  contractdata/SAPIENZA/_SAPIENZA_CHALLENGES.json
Owners: none

as official order
  components/menus/campaigns.ts
Owners: none

chore: small refactor to add itemsize tool
  packaging/add_itemsize/add_itemsize.js
Owners: none

fix: change side mission campaign order (#500)
  components/menus/campaigns.ts
Owners: none

refactor: consistent naming for scpc
  components/entitlementStrategies.ts
  components/menuData.ts
  components/oauthToken.ts
  components/platformEntitlements.ts
  components/scoreHandler.ts
Owners: none

refactor!: remove scpc support from core
  components/2016/legacyContractHandler.ts
  components/configSwizzleManager.ts
  components/controller.ts
  components/index.ts
  components/menus/planning.ts
  components/scoreHandler.ts
  package.json
  static/FrankensteinHubTemplate.json
  static/FrankensteinMmMpTemplate.json
  static/FrankensteinMmSpTemplate.json
  static/FrankensteinPlanningTemplate.json
  static/FrankensteinScoreOverviewTemplate.json
  static/ScpcLocationsData.json
  static/Scpcallunlockables.json
  yarn.lock
Owners: none

chore: also remove the last yardbird legacy contract
  contractdata/SNIPER/THELASTYARDBIRD_SCPC.json
Owners: none

chore: bump version to 8.0.0-dev
  package.json
Owners: none

chore: yarn v4.4.0
  .yarn/releases/yarn-4.3.0.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
Owners: none

fix: change side mission campaign order (#500)
  components/menus/campaigns.ts
Owners: none

feat: add wrapper challenges for separate locations (#497)
  contractdata/AMBROSE/_AMBROSE_CHALLENGES.json
  contractdata/BANGKOK/_BANGKOK_CHALLENGES.json
  contractdata/BERLIN/_BERLIN_CHALLENGES.json
  contractdata/CARPATHIAN/_CARPATHIAN_CHALLENGES.json
  contractdata/CHONGQING/_CHONGQING_CHALLENGES.json
  contractdata/DUBAI/_DUBAI_CHALLENGES.json
  contractdata/SANTAFORTUNA/_SANTAFORTUNA_CHALLENGES.json
  contractdata/SAPIENZA/_SAPIENZA_CHALLENGES.json
Owners: none

polish for lvl3
  contractdata/COLORADO/ESCALATION/ARES/ARES3.json
Owners: none

change to definitive name
  resources/locale.json
  static/EscalationCodenames.json
Owners: @AnthonyFuller

definitive polish
  contractdata/MUMBAI/ESCALATION/ARTEMIS/ARTEMIS1.json
  contractdata/MUMBAI/ESCALATION/ARTEMIS/ARTEMIS2.json
  contractdata/MUMBAI/ESCALATION/ARTEMIS/ARTEMIS3.json
  static/PeacockGameChangerProperties.json
Owners: none

update
  contractdata/MUMBAI/ESCALATION/ARTEMIS/ARTEMIS.json
  contractdata/MUMBAI/ESCALATION/ARTEMIS/ARTEMIS1.json
  contractdata/MUMBAI/ESCALATION/ARTEMIS/ARTEMIS2.json
  contractdata/MUMBAI/ESCALATION/ARTEMIS/ARTEMIS3.json
  static/PeacockGameChangerProperties.json
Owners: none

update challenge id
  contractdata/MUMBAI/_H2_MUMBAI_CHALLENGES.json
  contractdata/MUMBAI/_MUMBAI_CHALLENGES.json
Owners: none

update files
  components/contracts/missionsInLocation.ts
  contractdata/HOKKAIDO/ESCALATION/THENEA/THENEA.json
  contractdata/HOKKAIDO/ESCALATION/THENEA/THENEA1.json
  contractdata/HOKKAIDO/ESCALATION/THENEA/THENEA2.json
  contractdata/HOKKAIDO/ESCALATION/THENEA/THENEA3.json
  resources/locale.json
  static/EscalationCodenames.json
  static/PeacockGameChangerProperties.json
Owners: @AnthonyFuller

update challenges
  contractdata/HOKKAIDO/_H2_HOKKAIDO_CHALLENGES.json
  contractdata/HOKKAIDO/_HOKKAIDO_CHALLENGES.json
Owners: none

Fix HitsFilterType when transferring progression
  components/webFeatures.ts
Owners: none

remove change khatavanga objective to true when contractend
  contractdata/MUMBAI/ESCALATION/ARTEMIS/ARTEMIS1.json
  contractdata/MUMBAI/ESCALATION/ARTEMIS/ARTEMIS2.json
  contractdata/MUMBAI/ESCALATION/ARTEMIS/ARTEMIS3.json
Owners: none

Output error when loading userdata fails
  components/databaseHandler.ts
  components/oauthToken.ts
Owners: none

Fix the eslint error
  components/webFeatures.ts
Owners: none

Run codeql against master
  .github/workflows/codeql.yml
Owners: @RDIL

refactor: remove unreachable code
  components/menus/planning.ts
Owners: none

chore: implicit typing
  components/menus/destinations.ts
Owners: none

feat: Add pro1 challenges
  contractdata/BANGKOK/_LEGACY_BANGKOK_PRO1_CHALLENGES.json
  contractdata/COLORADO/_LEGACY_COLORADO_PRO1_CHALLENGES.json
  contractdata/HOKKAIDO/_LEGACY_HOKKAIDO_PRO1_CHALLENGES.json
  contractdata/MARRAKESH/_LEGACY_MARRAKECH_PRO1_CHALLENGES.json
  contractdata/PARIS/_LEGACY_PARIS_PRO1_CHALLENGES.json
  contractdata/SAPIENZA/_LEGACY_SAPIENZA_PRO1_CHALLENGES.json
  packaging/extractChallengeData.mjs
Owners: none

feat: Add pro1 challenges (code part)
  components/candle/challengeHelpers.ts
  components/candle/challengeService.ts
  components/controller.ts
  components/menus/destinations.ts
  components/scoreHandler.ts
Owners: none
