Repository thepeacockproject/Peacock, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RDIL, @AnthonyFuller, @fu5ha

.github/CODEOWNERS:

# CI
.cirrus.yml @RDIL
.github/workflows @RDIL
.github/workflows/locale.yml @AnthonyFuller

# LiveSplit
components/livesplit @fu5ha

# Evergreen
components/evergreen @AnthonyFuller
components/evergreen.ts @AnthonyFuller

# Localisation
resources @AnthonyFuller

Update DAMMCHICU1.json
  contractdata/WHITTLETON/ESCALATION/DAMMCHICU/DAMMCHICU1.json
Owners: none

Update DAMMCHICU2.json
  contractdata/WHITTLETON/ESCALATION/DAMMCHICU/DAMMCHICU2.json
Owners: none

Update DAMMCHICU3.json
  contractdata/WHITTLETON/ESCALATION/DAMMCHICU/DAMMCHICU3.json
Owners: none

Support elusives in the arcade page
  static/ArcadePageTemplate.json
Owners: none

Update locale.json
  resources/locale.json
Owners: @AnthonyFuller

Update PeacockGameChangerProperties.json
  static/PeacockGameChangerProperties.json
Owners: none

Update gamechanger tile images (#348)
  static/PeacockGameChangerProperties.json
Owners: none

Fix some strict type errors (#344)
  components/2016/legacyProfileRouter.ts
  components/candle/challengeHelpers.ts
  components/candle/masteryService.ts
  components/candle/progressionService.ts
  components/contracts/contractsModeRouting.ts
  components/contracts/escalations/escalationService.ts
  components/discord/client.ts
  components/entitlementStrategies.ts
  components/hotReloadService.ts
  components/inventory.ts
  components/livesplit/liveSplitManager.ts
  components/loggingInterop.ts
  components/menuData.ts
  components/menus/campaigns.ts
  components/menus/imageHandler.ts
  components/menus/sniper.ts
  components/platformEntitlements.ts
  components/scoreHandler.ts
  components/smfSupport.ts
  components/types/score.ts
  components/utils.ts
  components/webFeatures.ts
Owners: @fu5ha

Update Node.js to v20 (#345)
  .cirrus.yml
  .nvmrc
Owners: @RDIL

Always use consistent JWT secret in dev
  components/flags.ts
  components/index.ts
  components/oauthToken.ts
Owners: none

Remove userId parameter from startContract function
  components/candle/challengeService.ts
  components/eventHandler.ts
Owners: none

Enable saving on The Drop
  contractdata/BERLIN/ELUSIVE/THEDROP.json
Owners: none

Fix Stashpoint and Agency Pickup templates
  static/SelectAgencyPickupTemplate.json
  static/StashpointTemplate.json
Owners: none

Add Kasturi arcade
  components/contracts/elusiveTargetArcades.ts
  components/contracts/missionsInLocation.ts
  contractdata/ARCADE/KASTURI/KASTURI.json
  contractdata/ARCADE/KASTURI/KASTURI1.json
  contractdata/ARCADE/KASTURI/KASTURI2.json
  contractdata/ARCADE/KASTURI/KASTURI3.json
  contractdata/ARCADE/_ARCADE_CHALLENGES.json
  static/EscalationCodenames.json
Owners: none

Add Kasturi locale
  resources/locale.json
Owners: @AnthonyFuller

Proper removal of shim locale
  resources/locale.json
Owners: @AnthonyFuller

Fix Stashpoint and Agency Pickup templates
  static/SelectAgencyPickupTemplate.json
  static/StashpointTemplate.json
Owners: none

Enable saving on The Drop
  contractdata/BERLIN/ELUSIVE/THEDROP.json
Owners: none

Add Kasturi arcade
  components/contracts/elusiveTargetArcades.ts
  components/contracts/missionsInLocation.ts
  contractdata/ARCADE/KASTURI/KASTURI.json
  contractdata/ARCADE/KASTURI/KASTURI1.json
  contractdata/ARCADE/KASTURI/KASTURI2.json
  contractdata/ARCADE/KASTURI/KASTURI3.json
  contractdata/ARCADE/_ARCADE_CHALLENGES.json
  static/EscalationCodenames.json
Owners: none

Kasturi locale, proper removal of shim locale
  resources/locale.json
Owners: @AnthonyFuller

Update dyn res
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

Try and fix yarn version issues
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
Owners: none

Fix some spacing
  .github/workflows/locale.yml
Owners: @AnthonyFuller

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

Bump version to v6.5.6
  package.json
Owners: none

Add visual studio user settings to gitignore
  patcher/.gitignore
Owners: none

Update locale.json
  resources/locale.json
Owners: @AnthonyFuller

Update locale.json (#350)
  resources/locale.json
Owners: @AnthonyFuller

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

Always use consistent JWT secret in dev (#349)
  components/flags.ts
  components/index.ts
  components/oauthToken.ts
Owners: none

Begin extracting routing logic
  components/candle/challengeRouting.ts
  components/menuData.ts
  components/menus/destinations.ts
  components/scoreHandler.ts
  components/types/gameSchemas.ts
  components/types/score.ts
  components/types/types.ts
Owners: none

Migrate playnext
  .idea/dictionaries/reece.xml
  components/menuData.ts
  components/menus/playnext.ts
Owners: none

Migrate a bunch of stuff
  components/2016/legacyEventRouter.ts
  components/candle/challengeHelpers.ts
  components/candle/masteryService.ts
  components/configSwizzleManager.ts
  components/contracts/contractRouting.ts
  components/contracts/leaderboards.ts
  components/controller.ts
  components/discordRp.ts
  components/eventHandler.ts
  components/index.ts
  components/menuData.ts
  components/menus/destinations.ts
  components/menus/planning.ts
  components/oauthToken.ts
  components/profileHandler.ts
  components/types/gameSchemas.ts
  components/utils.ts
Owners: none

Update require table
  components/generatedPeacockRequireTable.ts
Owners: none

Exclude typedefs from require table
  components/generatedPeacockRequireTable.ts
  packaging/buildTasks.mjs
Owners: none

Remove duplicate routes
  components/2016/legacyProfileRouter.ts
Owners: none

Gnarly stashpoint refactoring
  components/2016/legacyMenuData.ts
  components/2016/legacyMenuSystem.ts
  components/candle/challengeRouting.ts
  components/generatedPeacockRequireTable.ts
  components/menuData.ts
  components/menus/stashpoints.ts
  components/types/gameSchemas.ts
  components/types/types.ts
Owners: none

Fix contract creation not using appropriate bricks
  components/contracts/contractRouting.ts
Owners: none

Minor tweak
  components/contracts/hitsCategoryService.ts
Owners: none

Fix irrelevant comment
  components/menus/planning.ts
Owners: none
