Repository thepeacockproject/Peacock, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RDIL, @AnthonyFuller, @fu5ha

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

feat: add french translations for ares, artemis and ammonia
  resources/locale.json
Owners: @AnthonyFuller

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

feat: replace smf.modIsInstalled with new helpers
  components/smfSupport.ts
Owners: none

fix: use deprecated helper
  components/controller.ts
  components/smfSupport.ts
Owners: none

update darwin patcher
  patcher-darwin/CMakeLists.txt
  patcher-darwin/src/patch_definitions/definitions.h
  patcher-darwin/src/patch_definitions/v3_270_1.cpp
  patcher-darwin/src/patches.cpp
Owners: none

fix: Wizard showing in ETs
  components/contracts/missionsInLocation.ts
Owners: none

chore: Fix outdated doc
  components/contracts/dataGen.ts
Owners: none

chore: Contract creation refactoring
  components/statemachines/contractCreation.ts
Owners: none

Added AI usage disclaimer
  readme.md
Owners: none

Ran prettier
  readme.md
Owners: none

fix: override gamechanger doNotGetSpottedPrimary for h1 to not crash
  components/2016/legacyContractHandler.ts
Owners: none

Potential fix for cachebuster crash
  static/peacock-menu/index.json
Owners: none

Fix FC ID added to the wrong FC challenge track
  contractdata/FEATURED/_FEATURED_CHALLENGES.json
Owners: none

feat: add "Challenge Packs" category to the Career -> Challenges page
  components/menus/hub.ts
  components/menus/menuSystem.ts
  resources/locale.json
Owners: @AnthonyFuller

chore: typo
  components/menus/menuSystem.ts
Owners: none

feat: add option to hide the ghost mode challenge tile in H3
  components/flags.ts
  components/menus/hub.ts
Owners: none

chore: run prettier
  components/menus/hub.ts
Owners: none

refactor: make IsPack value clearer in response to feedback
  components/menus/hub.ts
Owners: none

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

fix: Update scanner for 3.270.1
  patcher-darwin/src/scanner.cpp
Owners: none

fix: Contract creation respects specific repo IDs
  components/statemachines/contractCreation.ts
  tests/src/__snapshots__/contractCreation.test.ts.snap
Owners: none

fix: Arbitrary file write in contract creation
  components/contracts/contractRouting.ts
  components/controller.ts
  components/menuData.ts
  components/types/gameSchemas.ts
  components/types/types.ts
  components/utils.ts
  package.json
  tests/src/createFromParams.test.ts
  yarn.lock
Owners: none

chore: CR feedback
  components/controller.ts
  components/utils.ts
  contractdata/SAPIENZA/ESCALATION/BLUEBERRYBUSH/BLUEBERRYBUSH1.json
  contractdata/SAPIENZA/ESCALATION/BLUEBERRYBUSH/BLUEBERRYBUSH2.json
  contractdata/SAPIENZA/ESCALATION/BLUEBERRYBUSH/BLUEBERRYBUSH3.json
  tests/src/createFromParams.test.ts
Owners: none

fix: Wrong type in contract creation
  components/statemachines/contractCreation.ts
  components/types/types.ts
  tests/src/__snapshots__/contractCreation.test.ts.snap
Owners: none

chore: Bump version to v8.9.1
  package.json
Owners: none

fix stashpoints being blank on old versions of the game
  components/configSwizzleManager.ts
  components/menuData.ts
  static/H3StashpointTemplate.json
Owners: none

update autosplitter reset rule to a flat +1s
  components/eventHandler.ts
  components/livesplit/liveSplitManager.ts
Owners: @fu5ha

feat: add celeb special assignment contracts into side mission menu
  components/menus/campaigns.ts
Owners: none

Add Real Herbalist Contract Creation
  contractdata/HAVEN/HAVENHERBALISTCONTRACTCREATION.json
Owners: none

Add a working Contract Creation in Opulent_Greentini
  static/LocationsData.json
Owners: none

fix: Populate playnext menu after The Final Test
  components/menus/playnext.ts
  static/MissionStories.json
Owners: none

feat: new challenges for celebrity ducks
  contractdata/BANGKOK/_BANGKOK_CHALLENGES.json
  contractdata/BERLIN/_BERLIN_CHALLENGES.json
  contractdata/DARTMOOR/_DARTMOOR_CHALLENGES.json
  contractdata/HAVEN/_HAVEN_CHALLENGES.json
  contractdata/HOKKAIDO/_HOKKAIDO_CHALLENGES.json
  contractdata/MIAMI/_MIAMI_CHALLENGES.json
  contractdata/PARIS/_PARIS_CHALLENGES.json
  contractdata/SGAIL/_SGAIL_CHALLENGES.json
  resources/locale.json
Owners: @AnthonyFuller

fix texts
  resources/locale.json
Owners: @AnthonyFuller

fix: Correct Raccoon and Stingray debriefing titles
  resources/locale.json
Owners: @AnthonyFuller

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

fix(types): Correct typo in MissionEndResult
  components/scoreHandler.ts
  components/types/score.ts
Owners: none

feat(playnext): Support intro video
  components/menus/playnext.ts
  components/types/types.ts
Owners: none

fix wet suit regression
  static/H3StashpointTemplate.json
Owners: none

chore: typo
  components/types/gameSchemas.ts
Owners: none

.github/CODEOWNERS:

# CI
.cirrus.yml @RDIL
.github/workflows @RDIL
.github/workflows/locale.yml @AnthonyFuller

# LiveSplit
components/livesplit @fu5ha

# Evergreen
components/evergreen @AnthonyFuller
components/evergreen.ts @AnthonyFuller

# Localisation
resources @AnthonyFuller
