Repository thepeacockproject/Peacock, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RDIL, @AnthonyFuller, @fu5ha

.github/CODEOWNERS:

# CI
.cirrus.yml @RDIL
.github/workflows @RDIL
.github/workflows/locale.yml @AnthonyFuller

# LiveSplit
components/livesplit @fu5ha

# Evergreen
components/evergreen @AnthonyFuller
components/evergreen.ts @AnthonyFuller

# Localisation
resources @AnthonyFuller

fix(playerprofile): ambrose showing in S3, not working in H2
  components/menus/playerProfile.ts
  components/types/types.ts
  static/PlayerProfileView.json
Owners: none

feat: add spoiler warning for ambrose
  contractdata/AMBROSE/SHADOWSINTHEWATER.json
  contractdata/WHITTLETON/ANOTHERLIFE.json
Owners: none

chore: fix tests
  components/menus/playerProfile.ts
Owners: none

fix(playerprofile): ambrose showing in S3, not working in H2
  components/menus/playerProfile.ts
  components/types/types.ts
  static/PlayerProfileView.json
Owners: none

feat: add spoiler warning for ambrose
  contractdata/AMBROSE/SHADOWSINTHEWATER.json
  contractdata/WHITTLETON/ANOTHERLIFE.json
Owners: none

chore: fix tests
  components/menus/playerProfile.ts
Owners: none

chore: bump version to v7.4.1
  package.json
Owners: none

Fix live splitting for Ambrose Island movet to H2
  components/livesplit/liveSplitManager.ts
Owners: @fu5ha

Fix live splitting for Ambrose Island movet to H2 (#520)
  components/livesplit/liveSplitManager.ts
Owners: @fu5ha

feat!: add game version to resolveContract (#519)
  components/2016/legacyContractHandler.ts
  components/2016/legacyMenuData.ts
  components/2016/legacyProfileRouter.ts
  components/candle/challengeHelpers.ts
  components/candle/challengeService.ts
  components/candle/progressionService.ts
  components/contracts/contractRouting.ts
  components/contracts/contractsModeRouting.ts
  components/contracts/dataGen.ts
  components/contracts/escalations/escalationService.ts
  components/contracts/hitsCategoryService.ts
  components/contracts/leaderboards.ts
  components/controller.ts
  components/eventHandler.ts
  components/livesplit/liveSplitManager.ts
  components/loggingInterop.ts
  components/menuData.ts
  components/menus/campaigns.ts
  components/menus/destinations.ts
  components/menus/favoriteContracts.ts
  components/menus/hub.ts
  components/menus/planning.ts
  components/menus/playnext.ts
  components/menus/stashpoints.ts
  components/multiplayer/multiplayerMenuData.ts
  components/multiplayer/multiplayerService.ts
  components/profileHandler.ts
  components/scoreHandler.ts
Owners: @fu5ha

Fix a bug when playnext-screen shows Dubai after New York while playing campaign
  components/menus/playnext.ts
Owners: none

Fix a bug when playnext-screen shows Dubai after New York while playing campaign (#522)
  components/menus/playnext.ts
Owners: none

chore!: upgrade Node.js to v22
  .cirrus.yml
  .nvmrc
  .yarn/releases/yarn-4.4.0.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  package.json
Owners: @RDIL

fix: remove webstorm shill
  readme.md
Owners: none

chore: update node version in readme
  readme.md
Owners: none

fix: Re-add atomic fs
  components/databaseHandler.ts
  package.json
  yarn.lock
Owners: none

Release v8.0.0-alpha.1
  package.json
Owners: none

Moved logic from plugin to core
  components/commandService.ts
  components/flags.ts
  components/generatedPeacockRequireTable.ts
  components/index.ts
  components/menus/settings.ts
  components/profileHandler.ts
  patcher/.gitignore
  plugins/elusive-destinations.plugin.ts
  plugins/peacock-menu.plugin.ts
  static/peacock-menu/flags/category.json
  static/peacock-menu/flags/flag.json
  static/peacock-menu/flags/index.json
  static/peacock-menu/index.json
  static/peacock-menu/options.json
Owners: none

Forgot to lint...
  components/commandService.ts
  components/profileHandler.ts
Owners: none

chore: update readme
  readme.md
Owners: none

Added an option to edit the default ServerList.
  patcher/.gitignore
  patcher/App.config
  patcher/GameServer.cs
  patcher/HitmanPatcher.csproj
  patcher/MainForm.Designer.cs
  patcher/MainForm.cs
  patcher/ServerListEditor.Designer.cs
  patcher/ServerListEditor.cs
  patcher/ServerListEditor.resx
  patcher/packages.config
Owners: none

chore: bump version to 8.0.0-alpha.2
  package.json
Owners: none

Removed accidentally included test plugins
  plugins/elusive-destinations.plugin.ts
  plugins/peacock-menu.plugin.ts
Owners: none

Update patcher/.gitignore
  patcher/.gitignore
Owners: none

challenges
  contractdata/AMBROSE/_AMBROSE_CHALLENGES.json
  contractdata/SAPIENZA/_SAPIENZA_CHALLENGES.json
Owners: none

feat: Season of drop challenges (#528)
  contractdata/AMBROSE/_AMBROSE_CHALLENGES.json
  contractdata/SAPIENZA/_SAPIENZA_CHALLENGES.json
Owners: none

server.json is saved to "%appdata%\Peackock" now
  patcher/MainForm.cs
  patcher/ServerListEditor.cs
Owners: none

Location refactoring
  patcher/MainForm.cs
  patcher/ServerListEditor.cs
  patcher/Settings.cs
Owners: none

revert .Net Framework version back to 4.6
  patcher/App.config
  patcher/CliLocale.Designer.cs
  patcher/HitmanPatcher.csproj
  patcher/Properties/Resources.Designer.cs
  patcher/Properties/Settings.Designer.cs
Owners: none

Remove Json and use a CSV format
  patcher/GameServer.cs
  patcher/HitmanPatcher.csproj
  patcher/MainForm.cs
  patcher/ServerListEditor.cs
  patcher/packages.config
Owners: none

prevent users from destroying the config file by replacing ';'
  patcher/GameServer.cs
Owners: none

refactor: clean up
  components/candle/challengeService.ts
  components/contracts/contractRouting.ts
  components/discord/ipc.ts
  components/menuData.ts
  components/menus/destinations.ts
  components/oauthToken.ts
  components/scoreHandler.ts
  components/utils.ts
  components/webFeatures.ts
  packaging/extractFeaturedContracts.mjs
  webui/src/EscalationLevelPicker.tsx
Owners: none

fix(ingame options): don't load from the static folder at runtime
  components/menus/settings.ts
Owners: none

refactor(ingame options): use a for loop to parse builtInPages
  components/menus/settings.ts
Owners: none

chore: bump version to 8.0.0-alpha.3
  package.json
Owners: none

chore: update statemachine parser to v6.2.0
  package.json
  packaging/typedefs/package.json
  yarn.lock
Owners: none

chore: update yarn to v4.5.1
  .yarn/releases/yarn-4.5.0.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  package.json
Owners: none

frame
  contractdata/BERLIN/ESCALATION/CASPER/CASPER.json
  contractdata/BERLIN/ESCALATION/CASPER/CASPER1.JSON
  contractdata/BERLIN/ESCALATION/CASPER/CASPER2.JSON
  contractdata/BERLIN/ESCALATION/CASPER/CASPER3.JSON
Owners: none

frame
  components/candle/challengeHelpers.ts
  components/candle/challengeService.ts
  contractdata/GLOBAL/_PEACOCK_CHALLENGES.json
  resources/locale.json
Owners: @AnthonyFuller

show in contract
  components/candle/challengeService.ts
Owners: none
