Repository thepeacockproject/Peacock, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RDIL, @AnthonyFuller, @fu5ha

chore: Update feature request issue template
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: none

Fix bad URLs caused by 2016
  components/index.ts
Owners: none

Added patch to re-enable Dynamic Resources
  patcher/HitmanPatcher.Core/AOBScanner.cs
  patcher/HitmanPatcher.Core/HitmanVersion.cs
  patcher/HitmanPatcher.Core/MemoryPatcher.cs
  patcher/HitmanPatcher.Core/Settings.cs
  patcher/HitmanPatcher/OptionsForm.cs
Owners: none

Added manual workflow to publish patcher
  .github/workflows/patcher-publish.yml
Owners: @RDIL

Final test - squash and remove push-event before merging.
  .github/workflows/patcher-publish.yml
Owners: @RDIL

[skip ci] Update patcher binary
  PeacockPatcher.exe
Owners: none

Added manual workflow to publish patcher
  .github/workflows/patcher-publish.yml
Owners: @RDIL

[skip ci] Update patcher binary
  PeacockPatcher.exe
Owners: none

Update _WHITTLETON_CHALLENGES.json
  contractdata/WHITTLETON/_WHITTLETON_CHALLENGES.json
Owners: none

a minor fix
  contractdata/WHITTLETON/_WHITTLETON_CHALLENGES.json
Owners: none

chore: v8.0.0
  package.json
Owners: none

fix: add UI_PEACOCK_STRINGS_PRESENT locale string for german
  resources/locale.json
Owners: @AnthonyFuller

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

Fix headless mode dynamic resources patch
  patcher/HitmanPatcher/Program.cs
Owners: none

[skip ci] Update patcher binary
  PeacockPatcher.exe
Owners: none

fix(patcher): (Hopefully?) Fix patching on H2016/H2
  patcher/HitmanPatcher.Core/MemoryPatcher.cs
  patcher/HitmanPatcher/HitmanPatcher.csproj
Owners: none

Oops, we do a bit of spoiling
  patcher/HitmanPatcher.Core/MemoryPatcher.cs
Owners: none

[skip ci] Update patcher binary
  PeacockPatcher.exe
Owners: none

chore: Bump Node version to 22.16.0
  .nvmrc
Owners: none

chore: Bump version to 8.0.1
  package.json
Owners: none

Update _SAPIENZA_CHALLENGES.json
  contractdata/SAPIENZA/_SAPIENZA_CHALLENGES.json
Owners: none

fix: Include the lastDeploy.json in debug profiles that is actually used
  components/tools.ts
Owners: none

feat: bump server versions
  components/index.ts
  components/menus/menuSystem.ts
  components/officialServerAuth.ts
  components/utils.ts
  packaging/extractChallengeData.mjs
  packaging/extractElusivesChallengeData.mjs
  packaging/extractFeaturedContracts.mjs
  static/ServerVersionConfig.json
Owners: none

feat: update store data
  static/StoreData.json
Owners: none

feat: update allunlockables
  static/allunlockables.json
Owners: none

feat: update contracts
  contractdata/BANGKOK/THESOURCE.json
  contractdata/HOKKAIDO/PATIENTZERO.json
  contractdata/MARRAKESH/AGILDEDCAGE.json
  contractdata/MARRAKESH/AHOUSEBUILTONSAND.json
  contractdata/MIAMI/ASILVERTONGUE.json
  contractdata/MUMBAI/ILLUSIONSOFGRANDEUR.json
  contractdata/PARIS/THESHOWSTOPPER.json
  contractdata/SANTAFORTUNA/EMBRACEOFTHESERPENT.json
  contractdata/SAPIENZA/LANDSLIDE.json
  contractdata/SAPIENZA/THEAUTHOR.json
  contractdata/SAPIENZA/THEICON.json
  contractdata/SAPIENZA/WORLDOFTOMORROW.json
  contractdata/WHITTLETON/ABITTERPILL.json
Owners: none

Add `OnlyNeoVR` to type definitions
  components/types/types.ts
Owners: none

French martini with placeholder gamechanger
  components/contracts/elusiveTargets.ts
  contractdata/PARIS/ELUSIVE/THEBANKER.json
  static/AgencyPickups.json
  static/Entrances.json
  static/GameChangerProperties.json
Owners: none

feat: The Banker; elusive and dlc
  components/contracts/elusiveTargetArcades.ts
  components/contracts/missionsInLocation.ts
  components/inventory.ts
  components/ownership.ts
  components/platformEntitlements.ts
  contractdata/ARCADE/BLACKCURRANT/BLACKCURRANT.json
  contractdata/ARCADE/BLACKCURRANT/BLACKCURRANT1.json
  contractdata/ARCADE/BLACKCURRANT/BLACKCURRANT2.json
  static/EscalationCodenames.json
Owners: none

fix: re-add removed subtype to H2016 bonus missions
  contractdata/MARRAKESH/AHOUSEBUILTONSAND.json
  contractdata/SAPIENZA/LANDSLIDE.json
  contractdata/SAPIENZA/THEICON.json
Owners: none

feat: add discord rich presence for FrenchMartini
  components/discord/discordRp.ts
Owners: none

feat: update game line hashes
  tests/testData/game-defined-locr-crc32s.msgpack
Owners: none

feat: update gamechangers
  static/EvergreenGameChangerProperties.json
  static/GameChangerProperties.json
Owners: none

feat: add French Martini and Blackcurrant challenges
  contractdata/ARCADE/_ARCADE_CHALLENGES.json
  contractdata/PARIS/_PARIS_CHALLENGES.json
Owners: none

chore: bump version to 8.1.0
  package.json
Owners: none

fix: sort contracts for deterministic build
  packaging/buildTasks.mjs
Owners: none

fix: serve webui relative to the current module
  components/index.ts
Owners: none

fix: translate windows plugin paths on linux
  components/smfSupport.ts
Owners: none

fix: Nullability issue in challengeHelpers
  components/candle/challengeHelpers.ts
  components/contracts/dataGen.ts
  components/controller.ts
Owners: none

chore: Prettier
  components/candle/challengeHelpers.ts
  components/controller.ts
Owners: none

.github/CODEOWNERS:

# CI
.cirrus.yml @RDIL
.github/workflows @RDIL
.github/workflows/locale.yml @AnthonyFuller

# LiveSplit
components/livesplit @fu5ha

# Evergreen
components/evergreen @AnthonyFuller
components/evergreen.ts @AnthonyFuller

# Localisation
resources @AnthonyFuller
