Repository thepeacockproject/Peacock, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RDIL, @AnthonyFuller, @fu5ha

.github/CODEOWNERS:

# CI
.cirrus.yml @RDIL
.github/workflows @RDIL
.github/workflows/locale.yml @AnthonyFuller

# LiveSplit
components/livesplit @fu5ha

# Evergreen
components/evergreen @AnthonyFuller
components/evergreen.ts @AnthonyFuller

# Localisation
resources @AnthonyFuller

Fix l10n workflow again
  .github/workflows/locale.yml
Owners: @AnthonyFuller

Update l10n mod in a separate workflow
  .github/workflows/locale-mod.yml
Owners: @RDIL

Basic unit tests
  components/statemachines/contractCreation.ts
  tests/src/__snapshots__/contractCreation.test.ts.snap
  tests/src/contractCreation.test.ts
Owners: none

chore: Remove useless rev ident references
  components/types/globals.d.ts
  packaging/devLoader.mjs
  tests/setup/globalDefines.ts
  tests/src/vitest.test.ts
Owners: none

refactor(tests): Allow loading JSON if the data is test-exclusive
  .eslintignore
  tests/package.json
  tests/src/contractFiles.test.ts
  tests/testData/game-defined-locr-crc32s.msgpack
  tests/testData/scripts/updateLocrCrcData.mjs
  tests/vitest.config.ts
Owners: none

Update YULANIA1.json
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA1.json
Owners: none

Update YULANIA2.json
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA2.json
Owners: none

Update YULANIA3.json
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA3.json
Owners: none

New tests and also a load of bug fixes (still not done)
  components/statemachines/contractCreation.ts
  tests/src/__snapshots__/contractCreation.test.ts.snap
  tests/src/contractCreation.test.ts
  tests/testData/contractCreationCases.json
Owners: none

Yulania: fix level 2 doesn't require eliminating rooftop target (#421)
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA1.json
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA2.json
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA3.json
Owners: none

chore: Remove useless rev ident references
  components/types/globals.d.ts
  packaging/devLoader.mjs
  tests/setup/globalDefines.ts
  tests/src/vitest.test.ts
Owners: none

refactor(tests): Allow loading JSON if the data is test-exclusive
  .eslintignore
  tests/package.json
  tests/src/contractFiles.test.ts
  tests/testData/game-defined-locr-crc32s.msgpack
  tests/testData/scripts/updateLocrCrcData.mjs
  tests/vitest.config.ts
Owners: none

Add another file to the gitignore
  .idea/.gitignore
Owners: none

add mission files
  contractdata/COLORADO/ESCALATION/ANTHURIUM/ANTHURIUM.json
  contractdata/COLORADO/ESCALATION/ANTHURIUM/ANTHURIUM1.json
  contractdata/COLORADO/ESCALATION/ANTHURIUM/ANTHURIUM2.json
  contractdata/COLORADO/ESCALATION/ANTHURIUM/ANTHURIUM3.json
Owners: none

update missionsinlocation
  components/contracts/missionsInLocation.ts
Owners: none

run prettier
  contractdata/COLORADO/ESCALATION/ANTHURIUM/ANTHURIUM.json
  contractdata/COLORADO/ESCALATION/ANTHURIUM/ANTHURIUM1.json
  contractdata/COLORADO/ESCALATION/ANTHURIUM/ANTHURIUM2.json
  contractdata/COLORADO/ESCALATION/ANTHURIUM/ANTHURIUM3.json
  static/EscalationCodenames.json
Owners: none

add challenges
  contractdata/COLORADO/_COLORADO_CHALLENGES.json
  contractdata/COLORADO/_H2_COLORADO_CHALLENGES.json
Owners: none

update locale
  contractdata/COLORADO/_COLORADO_CHALLENGES.json
  contractdata/COLORADO/_H2_COLORADO_CHALLENGES.json
  resources/locale.json
Owners: @AnthonyFuller

Update locale.json
  resources/locale.json
Owners: @AnthonyFuller

Update locale.json (#422)
  resources/locale.json
Owners: @AnthonyFuller

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

sc translation
  resources/locale.json
Owners: @AnthonyFuller

fix locale.json
  resources/locale.json
Owners: @AnthonyFuller

add 2 sambuca start challenges
  contractdata/MIAMI/_H2_MIAMI_CHALLENGES.json
Owners: none

fix path
  contractdata/MIAMI/_H2_MIAMI_CHALLENGES.json
Owners: none

refactor(types): Change a bunch of types from interfaces to aliases
  components/contracts/hitsCategoryService.ts
  components/controller.ts
  components/livesplit/liveSplitManager.ts
  components/menus/campaigns.ts
  components/menus/destinations.ts
  components/types/types.ts
Owners: @fu5ha

fix bugs
  contractdata/MIAMI/_H2_MIAMI_CHALLENGES.json
Owners: none

Add mamushi to the escalations object
  components/contracts/missionsInLocation.ts
Owners: none

Add 2 sambuca start challenges for H2 (#424)
  contractdata/MIAMI/_H2_MIAMI_CHALLENGES.json
Owners: none

Skip adding escalations with a season value of -1 to the ContractAttack page
  components/contracts/hitsCategoryService.ts
Owners: none

Support multiple CPD configs
  components/configSwizzleManager.ts
  components/evergreen.ts
  static/DefaultCpdConfig.json
  static/DefaultCpdConfigs.json
Owners: @AnthonyFuller

Initial work on progression transfer - challenges
  components/candle/challengeService.ts
  components/webFeatures.ts
Owners: none

Add transfer of profile data
  components/menuData.ts
  components/types/types.ts
  components/utils.ts
  components/webFeatures.ts
  docs/USER_PROFILES.md
  static/LegacyUserDefault.json
  static/UserDefault.json
Owners: none

Change how ActionXp is stored
  components/candle/progressionService.ts
  components/menus/playerProfile.ts
  components/types/types.ts
  components/utils.ts
  components/webFeatures.ts
  docs/USER_PROFILES.md
  static/LegacyUserDefault.json
  static/UserDefault.json
Owners: none

Fix player profile data
  components/menus/playerProfile.ts
Owners: none

Sync escalation and arcade progress
  components/webFeatures.ts
Owners: none

Sync freelancer CPD data
  components/webFeatures.ts
Owners: none

Fix linting
  components/webFeatures.ts
Owners: none

Don't override previous challenge progression
  components/webFeatures.ts
Owners: none

Bump default profile version
  static/LegacyUserDefault.json
  static/UserDefault.json
Owners: none
