Repository thepeacockproject/Peacock, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RDIL, @AnthonyFuller, @fu5ha

feat: update game line hashes
  tests/testData/game-defined-locr-crc32s.msgpack
Owners: none

feat: bump server versions
  components/index.ts
  components/menus/menuSystem.ts
  components/officialServerAuth.ts
  packaging/extractChallengeData.mjs
  packaging/extractElusivesChallengeData.mjs
  packaging/extractFeaturedContracts.mjs
  static/ServerVersionConfig.json
Owners: none

feat: update store data
  static/StoreData.json
Owners: none

feat: add new christmas challenge
  contractdata/HOKKAIDO/_HOKKAIDO_CHALLENGES.json
Owners: none

feat: The Splitter; elusive and dlc
  components/contracts/elusiveTargetArcades.ts
  components/contracts/elusiveTargets.ts
  components/contracts/missionsInLocation.ts
  components/inventory.ts
  components/ownership.ts
  components/platformEntitlements.ts
  contractdata/ARCADE/KIWI/KIWI.json
  contractdata/ARCADE/KIWI/KIWI1.json
  contractdata/ARCADE/KIWI/KIWI2.json
  contractdata/ARCADE/_ARCADE_CHALLENGES.json
  contractdata/CHONGQING/ELUSIVE/THESPLITTER.json
  contractdata/CHONGQING/_CHONGQING_ELUSIVE_CHALLENGES.json
  static/AgencyPickups.json
  static/Entrances.json
  static/EscalationCodenames.json
Owners: none

Patcher: update the aob scanner to match localghost's
  patcher/AOBScanner.cs
Owners: none

feat: bump server versions
  components/index.ts
  components/menus/menuSystem.ts
  components/officialServerAuth.ts
  packaging/extractChallengeData.mjs
  packaging/extractElusivesChallengeData.mjs
  static/ServerVersionConfig.json
Owners: none

feat: update allunlockables
  static/allunlockables.json
Owners: none

feat: update game line hashes
  tests/testData/game-defined-locr-crc32s.msgpack
Owners: none

feat: update store data
  static/StoreData.json
Owners: none

fix(candle): properly check inclusion data
  components/candle/challengeHelpers.ts
Owners: none

chore: update patcher
  PeacockPatcher.exe
Owners: none

feat: add new christmas challenge
  contractdata/HOKKAIDO/_HOKKAIDO_CHALLENGES.json
Owners: none

feat: The Splitter; elusive and dlc
  components/contracts/elusiveTargetArcades.ts
  components/contracts/elusiveTargets.ts
  components/contracts/missionsInLocation.ts
  components/inventory.ts
  components/ownership.ts
  components/platformEntitlements.ts
  contractdata/ARCADE/KIWI/KIWI.json
  contractdata/ARCADE/KIWI/KIWI1.json
  contractdata/ARCADE/KIWI/KIWI2.json
  contractdata/ARCADE/_ARCADE_CHALLENGES.json
  contractdata/CHONGQING/ELUSIVE/THESPLITTER.json
  contractdata/CHONGQING/_CHONGQING_ELUSIVE_CHALLENGES.json
  static/AgencyPickups.json
  static/Entrances.json
  static/EscalationCodenames.json
Owners: none

chore: bump version to v7.6.0
  package.json
Owners: none

chore: bump version to v8.0.0-alpha.4
  package.json
Owners: none

fix(candle): return false if no checks were performed
  components/candle/challengeHelpers.ts
Owners: none

feat: remove emotes from Career -> Inventory
  components/menus/stashpoints.ts
Owners: none

fix(versus): remove phantom suit as reward in H3
  contractdata/GLOBAL/_VERSUS_H2_CHALLENGES.json
  contractdata/GLOBAL/_VERSUS_H3_CHALLENGES.json
  contractdata/GLOBAL/_VERSUS_SHARED_CHALLENGES.json
Owners: none

update
  components/contracts/missionsInLocation.ts
  contractdata/BERLIN/ESCALATION/CASPER/CASPER.json
  contractdata/BERLIN/ESCALATION/CASPER/CASPER1.JSON
  contractdata/BERLIN/ESCALATION/CASPER/CASPER2.JSON
  contractdata/BERLIN/ESCALATION/CASPER/CASPER3.JSON
  static/EscalationCodenames.json
Owners: none

Avoid persisting credentials in GH actions wherever possible
  .github/workflows/codeql.yml
  .github/workflows/locale-mod.yml
  .github/workflows/locale.yml
  .github/workflows/patcher.yml
Owners: @RDIL, @AnthonyFuller

introduce gamechanger a
  resources/locale.json
  static/PeacockGameChangerProperties.json
Owners: @AnthonyFuller

Annoying suffix
  contractdata/BERLIN/ESCALATION/CASPER/CASPER1.json
  contractdata/BERLIN/ESCALATION/CASPER/CASPER2.json
  contractdata/BERLIN/ESCALATION/CASPER/CASPER3.json
Owners: none

prolong
  contractdata/ARCADE/KASTURI/KASTURI.json
  contractdata/ARCADE/KASTURI/KASTURI4.json
  contractdata/ARCADE/KASTURI/KASTURI5.json
  contractdata/ARCADE/_ARCADE_CHALLENGES.json
  resources/locale.json
Owners: @AnthonyFuller

rather than hide bodies
  contractdata/COLORADO/ESCALATION/ARES/ARES3.json
Owners: none

display gamechanger
  contractdata/COLORADO/ESCALATION/ARES/ARES3.json
Owners: none

feat(livesplit): wip on timer penalty rules update
  components/livesplit/liveSplitManager.ts
Owners: @fu5ha

Patcher: Fix AOB scan for 3.210.2 + update binary
  PeacockPatcher.exe
  patcher/AOBScanner.cs
Owners: none

Patcher: Fix AOB scan for 3.210.2 + update binary
  PeacockPatcher.exe
  patcher/AOBScanner.cs
Owners: none

chore: bump version to 7.6.1
  package.json
Owners: none

chore: bump version to 8.0.0-alpha.5
  package.json
Owners: none

Call controller.hooks.onMissionEnd when end data is requested
  components/scoreHandler.ts
Owners: none

Add onUserLogin hook that gets called when a user logs in
  components/controller.ts
  components/index.ts
Owners: none

Pass plugin filename to plugins in __filename
  components/controller.ts
Owners: none

load contracts asynchronously
  components/controller.ts
Owners: none

feat(controller): load contracts asynchronously (#544)
  components/controller.ts
Owners: none

feat: move all instances of contract indexing to async, add message when completed
  components/controller.ts
  components/index.ts
Owners: none

update
  contractdata/BERLIN/ESCALATION/CASPER/CASPER1.json
  contractdata/BERLIN/ESCALATION/CASPER/CASPER2.json
  contractdata/BERLIN/ESCALATION/CASPER/CASPER3.json
  resources/locale.json
  static/EscalationCodenames.json
  static/PeacockGameChangerProperties.json
Owners: @AnthonyFuller

do not spotted gc
  contractdata/COLORADO/ESCALATION/ARES/ARES3.json
Owners: none

minor typo
  resources/locale.json
Owners: @AnthonyFuller

.github/CODEOWNERS:

# CI
.cirrus.yml @RDIL
.github/workflows @RDIL
.github/workflows/locale.yml @AnthonyFuller

# LiveSplit
components/livesplit @fu5ha

# Evergreen
components/evergreen @AnthonyFuller
components/evergreen.ts @AnthonyFuller

# Localisation
resources @AnthonyFuller
