Repository thepeacockproject/Peacock, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RDIL, @AnthonyFuller, @fu5ha

.github/CODEOWNERS:

# CI
.cirrus.yml @RDIL
.github/workflows @RDIL
.github/workflows/locale.yml @AnthonyFuller

# LiveSplit
components/livesplit @fu5ha

# Evergreen
components/evergreen @AnthonyFuller
components/evergreen.ts @AnthonyFuller

# Localisation
resources @AnthonyFuller

Added support for running node server in Docker
  .gitignore
  Dockerfile
  entrypoint.sh
Owners: none

Move container to be pinned to nvmrc version
  Dockerfile
  entrypoint.sh
Owners: none

WIP for docker on cirrus ci
  .cirrus.yml
  Dockerfile
  packaging/ciAssemble.sh
  packaging/docker-build.sh
  packaging/entrypoint.sh
Owners: @RDIL

WIP for docker on cirrus ci
  .cirrus.yml
Owners: @RDIL

WIP for docker on cirrus ci
  .cirrus.yml
Owners: @RDIL

WIP for docker on cirrus ci
  .cirrus.yml
Owners: @RDIL

WIP for docker on cirrus ci
  .cirrus.yml
Owners: @RDIL

WIP for docker on cirrus ci
  .cirrus.yml
Owners: @RDIL

WIP for docker on cirrus ci
  .cirrus.yml
  packaging/docker-build.sh
Owners: @RDIL

WIP for docker on cirrus ci
  .cirrus.yml
Owners: @RDIL

WIP for docker on cirrus ci
  .cirrus.yml
Owners: @RDIL

WIP for docker on cirrus ci
  .cirrus.yml
Owners: @RDIL

WIP for docker on cirrus ci
  .cirrus.yml
Owners: @RDIL

WIP for docker on cirrus ci
  .cirrus.yml
Owners: @RDIL

WIP for docker on cirrus ci
  .cirrus.yml
Owners: @RDIL

WIP for docker on cirrus ci
  .cirrus.yml
Owners: @RDIL

WIP for docker on cirrus ci
  .cirrus.yml
Owners: @RDIL

WIP for docker on cirrus ci
  .cirrus.yml
Owners: @RDIL

WIP for docker on cirrus ci
  .cirrus.yml
Owners: @RDIL

Finally have Docker building an image properly
  .cirrus.yml
  packaging/docker-build.sh
Owners: @RDIL

Finally have Docker building an image properly
  .cirrus.yml
Owners: @RDIL

fix: New York uniquely requires 4500XP per level instead of 6000
  components/candle/masteryService.ts
  components/candle/progressionService.ts
  components/scoreHandler.ts
  components/types/mastery.ts
  components/utils.ts
  contractdata/NEWYORK/_NEWYORK_MASTERY.json
Owners: none

chore: Run prettier
  components/candle/masteryService.ts
  components/candle/progressionService.ts
  components/scoreHandler.ts
  components/utils.ts
Owners: none

Bump version to 8.0.0-beta.1
  package.json
Owners: none

feat: bump server versions
  components/index.ts
  components/menus/menuSystem.ts
  components/officialServerAuth.ts
  components/utils.ts
  packaging/extractChallengeData.mjs
  packaging/extractElusivesChallengeData.mjs
  packaging/extractFeaturedContracts.mjs
  static/ServerVersionConfig.json
Owners: none

feat: update allunlockables
  static/allunlockables.json
Owners: none

feat: update game line hashes
  tests/testData/game-defined-locr-crc32s.msgpack
Owners: none

chore: remove missing parameter from JSDoc
  packaging/extractFeaturedContracts.mjs
Owners: none

chore: bump version to 8.0.0-beta.2
  package.json
Owners: none

feat: bump server versions
  components/index.ts
  components/menus/menuSystem.ts
  components/officialServerAuth.ts
  components/utils.ts
  packaging/extractChallengeData.mjs
  packaging/extractElusivesChallengeData.mjs
  static/ServerVersionConfig.json
Owners: none

feat: update allunlockables
  static/allunlockables.json
Owners: none

feat: update game line hashes
  tests/testData/game-defined-locr-crc32s.msgpack
Owners: none

chore: bump version to 7.7.0
  package.json
Owners: none

curatorswitch multilingual update
  resources/locale.json
Owners: @AnthonyFuller

feat(ap-poc): wip support for archipelago
  .gitignore
  archipelago-ui/.gitignore
  archipelago-ui/index.html
  archipelago-ui/package.json
  archipelago-ui/scripts/rpkg-locr-to-single-file.ts
  archipelago-ui/src/components/Login.tsx
  archipelago-ui/src/components/MessageBox.tsx
  archipelago-ui/src/components/Status.tsx
  archipelago-ui/src/context/ArchipelagoContext.tsx
  archipelago-ui/src/context/MessagesContext.tsx
  archipelago-ui/src/global.css
  archipelago-ui/src/main.tsx
  archipelago-ui/src/routeTree.gen.ts
  archipelago-ui/src/routes/__root.tsx
  archipelago-ui/src/routes/chat.tsx
  archipelago-ui/src/routes/index.tsx
  archipelago-ui/tsconfig.json
  archipelago-ui/vite.config.ts
  components/archipelago/archipelago.ts
  components/archipelago/index.ts
  components/archipelago/server/apiRouter.ts
  components/archipelago/server/index.ts
  components/archipelago/store.ts
  components/controller.ts
  components/generatedPeacockRequireTable.ts
  eslint.config.cjs
  package.json
  packaging/buildPlugins.mjs
  yarn.lock
Owners: none

fix: fix capitalization for french escalation names
  resources/locale.json
Owners: @AnthonyFuller

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

Print listening host/port on startup
  components/index.ts
Owners: none

luck season challenges
  contractdata/AMBROSE/_AMBROSE_CHALLENGES.json
  contractdata/DUBAI/_DUBAI_CHALLENGES.json
  contractdata/HOKKAIDO/_HOKKAIDO_CHALLENGES.json
Owners: none

chore: Update bug report issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: none
