Repository thepeacockproject/Peacock, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RDIL, @AnthonyFuller, @fu5ha

.github/CODEOWNERS:

# CI
.cirrus.yml @RDIL
.github/workflows @RDIL
.github/workflows/locale.yml @AnthonyFuller

# LiveSplit
components/livesplit @fu5ha

# Evergreen
components/evergreen @AnthonyFuller
components/evergreen.ts @AnthonyFuller

# Localisation
resources @AnthonyFuller

Update GitHub actions with Dependabot
  .github/dependabot.yml
Owners: none

Re-add removed global challenges
  static/GlobalChallenges.json
Owners: none

Proper support for the mission end screen on sniper contracts
  components/candle/progressionService.ts
  components/contracts/dataGen.ts
  components/inventory.ts
  components/scoreHandler.ts
  components/types/types.ts
  components/utils.ts
Owners: none

Remove redundant label
  components/menuData.ts
Owners: none

Sniper Scoring (#273)
  components/2016/legacyMenuData.ts
  components/candle/masteryService.ts
  components/candle/progressionService.ts
  components/configSwizzleManager.ts
  components/contracts/contractRouting.ts
  components/contracts/dataGen.ts
  components/eventHandler.ts
  components/generatedPeacockRequireTable.ts
  components/inventory.ts
  components/menuData.ts
  components/menus/menuSystem.ts
  components/menus/playnext.ts
  components/scoreHandler.ts
  components/types/score.ts
  components/types/scoring.ts
  components/types/sniperModules.ts
  components/types/types.ts
  components/utils.ts
  static/GlobalChallenges.json
  static/SniperGamemodesTemplate.json
Owners: none

Add co-op sniper scoring defs
  components/eventHandler.ts
  components/types/scoring.ts
  package.json
  yarn.lock
Owners: none

Update MasteryUnlockable template
  static/MasteryUnlockablesTemplate.json
Owners: none

Update locale.json
  resources/locale.json
Owners: @AnthonyFuller

Update locale.json (#278)
  resources/locale.json
Owners: @AnthonyFuller

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

Update locale.json
  resources/locale.json
Owners: @AnthonyFuller

Update locale.json (#279)
  resources/locale.json
Owners: @AnthonyFuller

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

Add H2 ET extra challenges
  contractdata/GLOBAL/_ELUSIVES_CHALLENGES.json
  contractdata/HAWKESBAY/_HAWKESBAY_CHALLENGES.json
  contractdata/MIAMI/_MIAMI_CHALLENGES.json
  contractdata/SANTAFORTUNA/_SANTAFORTUNA_CHALLENGES.json
  contractdata/SGAIL/_SGAIL_CHALLENGES.json
  contractdata/WHITTLETON/_WHITTLETON_CHALLENGES.json
Owners: none

Add new locale strings
  resources/locale.json
Owners: @AnthonyFuller

Nullability check
  components/candle/challengeHelpers.ts
Owners: none

Fixed missing locales
  resources/locale.json
Owners: @AnthonyFuller

allow the patcher project to work on vs2022
  patcher/HitmanPatcher.csproj
Owners: none

bump CI image
  .cirrus.yml
Owners: @RDIL

update the paths too
  patcher/BuildCI.cmd
Owners: none

Bump SMP version to v5.9.3
  package.json
  packaging/typedefs/package.json
  yarn.lock
Owners: none

Fix Miami escalations not counting
  contractdata/GLOBAL/_ESCALATION_CHALLENGES.json
  contractdata/GLOBAL/_H2_ESCALATION_CHALLENGES.json
Owners: none

Fix Miami escalations not counting (#288)
  contractdata/GLOBAL/_ESCALATION_CHALLENGES.json
  contractdata/GLOBAL/_H2_ESCALATION_CHALLENGES.json
Owners: none

Added unit test for sniper scoring based on a session replay
  tests/res/sniperScore.session.json
  tests/src/sniperScore.test.ts
Owners: none

Added test logic for challenges Added examples on how to mock getFlag
  tests/examples/getFlag.ts
  tests/res/fasterThanYourOwnShadow.session.json
  tests/src/challenges.test.ts
Owners: none

Added re-usable unit test logic for challenges
  tests/src/challenges.test.ts
Owners: none

Add re-usable unit test logic for sniper score calculations
  tests/res/sniperScore1.session.json
  tests/res/sniperScore2.session.json
  tests/src/sniperScore.test.ts
Owners: none

Added support for sections to flags Added support for plugic-specific flags
  components/flags.ts
  components/index.ts
  components/types/types.ts
Owners: none

[perf] Inventory rework
  components/candle/challengeService.ts
  components/inventory.ts
  components/menus/planning.ts
  components/multiplayer/multiplayerUtils.ts
  components/unlockables.ts
Owners: none

Fix build
  components/candle/masteryService.ts
  components/candle/progressionService.ts
  components/generatedPeacockRequireTable.ts
  components/scoreHandler.ts
Owners: none

More improvements
  components/2016/legacyMenuData.ts
  components/inventory.ts
  components/menuData.ts
  components/profileHandler.ts
  components/utils.ts
Owners: none

Amogus sus
  components/controller.ts
  components/types/types.ts
Owners: none

Amogus sus
  components/controller.ts
  components/types/types.ts
Owners: none

Deez
  components/controller.ts
  components/types/types.ts
Owners: none

Add SMF contract support (#293)
  components/controller.ts
  components/types/types.ts
Owners: none

Add SMF contract support (#293) (#294)
  components/controller.ts
  components/types/types.ts
Owners: none

Move the new functions to inventory, where they belong
  components/2016/legacyMenuData.ts
  components/candle/challengeService.ts
  components/candle/masteryService.ts
  components/candle/progressionService.ts
  components/generatedPeacockRequireTable.ts
  components/inventory.ts
  components/menuData.ts
  components/menus/planning.ts
  components/multiplayer/multiplayerUtils.ts
  components/scoreHandler.ts
  components/unlockables.ts
Owners: none

[perf] Condense a bunch of menu filtering
  components/menuData.ts
Owners: none

[perf] Inventory rework (part 1) (#291)
  components/2016/legacyMenuData.ts
  components/candle/challengeService.ts
  components/candle/masteryService.ts
  components/candle/progressionService.ts
  components/inventory.ts
  components/menuData.ts
  components/multiplayer/multiplayerUtils.ts
  components/profileHandler.ts
  components/scoreHandler.ts
  components/utils.ts
Owners: none

Update a bunch of stuff (fix the vite sec warning)
  .yarnrc.yml
  package.json
  packaging/typedefs/package.json
  webui/package.json
  yarn.lock
Owners: none
