Repository thepeacockproject/Peacock, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RDIL, @AnthonyFuller, @fu5ha

tc characteristic
  resources/locale.json
Owners: @AnthonyFuller

add club owner's trespass obj
  contractdata/BERLIN/ESCALATION/CASPER/CASPER3.json
  resources/locale.json
Owners: @AnthonyFuller

add challenges
  contractdata/BERLIN/_BERLIN_CHALLENGES.json
Owners: none

fix a slip
  resources/locale.json
Owners: @AnthonyFuller

feat: add option for SMF deploy summary path
  components/controller.ts
  components/flags.ts
  components/smfSupport.ts
Owners: none

refactor(smfSupport): modFrameworkDataPath -> modFrameworkDataPaths
  components/smfSupport.ts
Owners: none

refactor: game versioned missionsInLocations and fix certain contracts when resolved
  components/candle/challengeService.ts
  components/contracts/escalations/escalationService.ts
  components/contracts/hitsCategoryService.ts
  components/contracts/missionsInLocation.ts
  components/controller.ts
  components/menus/destinations.ts
  components/smfSupport.ts
  components/types/types.ts
Owners: none

refactor: rename missionsInLocations to missionsInLocation
  components/candle/challengeService.ts
  components/contracts/hitsCategoryService.ts
  components/contracts/missionsInLocation.ts
  components/controller.ts
  components/menus/destinations.ts
  components/smfSupport.ts
Owners: none

refactor(hitsCategory): use controller.missionsInLocation
  components/contracts/hitsCategoryService.ts
Owners: none

feat(sniper): give L20 sniper when progression is disabled
  components/menus/sniper.ts
Owners: none

fix: Fix some inaccuracies in mapObjectives
  components/contracts/dataGen.ts
  components/types/types.ts
Owners: none

refactor: Clean up mapObjectives slightly; remove hacky safehouse fix
  components/contracts/dataGen.ts
  components/menus/planning.ts
Owners: none

refactor(destinations): assert that the game version is h1 if pro1 is requested
  components/menus/destinations.ts
Owners: none

chore: remove tapable
  package.json
  yarn.lock
Owners: none

feat(controller): add fixContract hook
  components/controller.ts
Owners: none

correct wrapper scene
  contractdata/ARCADE/KASTURI/KASTURI.json
Owners: none

chore: remove @private from comment
  components/controller.ts
Owners: none

feat(hooks): add priority to taps and intercepts
  components/hooksImpl.ts
Owners: none

refactor(hooks): rename context option to enableContext and make it optional
  components/hooksImpl.ts
Owners: none

fix(hooks): priority ordering check being typo'd
  components/hooksImpl.ts
Owners: none

feat(controller): add blackboard for plugins to share data
  components/controller.ts
Owners: none

refactor!: Completely remove hook intercepts
  components/hooksImpl.ts
Owners: none

chore: Update Node to 22.13.0
  .nvmrc
Owners: none

Begin adding more tests!
  .idea/Peacock.iml
  components/controller.ts
  components/hooksImpl.ts
  package.json
  tests/__mocks__/fast-glob.ts
  tests/factories/contract.ts
  tests/helpers/testHelpers.ts
  tests/package.json
  tests/src/contractFiles.test.ts
  tests/src/contractResolution.test.ts
  yarn.lock
Owners: none

Create a contract session factory
  tests/factories/contractSession.ts
  tests/src/__snapshots__/databaseHandler.test.ts.snap
  tests/src/databaseHandler.test.ts
Owners: none

Run prettier
  components/controller.ts
  tests/factories/contract.ts
  tests/src/contractFiles.test.ts
  tests/src/contractResolution.test.ts
  tests/src/databaseHandler.test.ts
Owners: none

feat: update h3 max profile level to match official (12,500)
  components/utils.ts
Owners: none

Build before running the tests
  .cirrus.yml
Owners: @RDIL

Fix bug in webui loadout adjustCase function.
  webui/src/LoadoutPreview.tsx
Owners: none

Update MemoryPatcher.cs
  patcher/MemoryPatcher.cs
Owners: none

Temporarily disable codeql on c# until I can figure out why its failing
  .github/workflows/codeql.yml
Owners: @RDIL

fix: entrance and pickup pages having incorrect ordering and missing mastery level if locked
  components/menuData.ts
  components/types/types.ts
  components/utils.ts
Owners: none

refactor(menuData): one line status code return for select entrance and pickup pages
  components/menuData.ts
Owners: none

fix: generateSelectPage should filter for "access", not
  components/menuData.ts
Owners: none

refactor(menuData): check for subtype on entrance selecct pages
  components/menuData.ts
Owners: none

fix(menuData): check difficulty for ordered unlocks in select pages
  components/menuData.ts
Owners: none

feat: update Evergreen GameChangers
  static/EvergreenGameChangerProperties.json
Owners: none

official tile path
  contractdata/BERLIN/ESCALATION/CASPER/CASPER.json
  contractdata/BERLIN/ESCALATION/CASPER/CASPER1.json
  contractdata/BERLIN/ESCALATION/CASPER/CASPER2.json
  contractdata/BERLIN/ESCALATION/CASPER/CASPER3.json
Owners: none

work of frame
  components/contracts/missionsInLocation.ts
  contractdata/CHONGQING/ESCALATION/NIAN/NIAN.json
  contractdata/CHONGQING/ESCALATION/NIAN/NIAN1.json
  contractdata/CHONGQING/ESCALATION/NIAN/NIAN2.json
  contractdata/CHONGQING/ESCALATION/NIAN/NIAN3.json
Owners: none

fix: uuid regex should only accept hex chars (0-f)
  components/utils.ts
Owners: none

.github/CODEOWNERS:

# CI
.cirrus.yml @RDIL
.github/workflows @RDIL
.github/workflows/locale.yml @AnthonyFuller

# LiveSplit
components/livesplit @fu5ha

# Evergreen
components/evergreen @AnthonyFuller
components/evergreen.ts @AnthonyFuller

# Localisation
resources @AnthonyFuller
