Repository thepeacockproject/Peacock, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RDIL, @AnthonyFuller, @fu5ha

Update YULAN2.json
  contractdata/HAWKESBAY/ESCALATION/YULAN/YULAN2.json
Owners: none

Update YULAN3.json
  contractdata/HAWKESBAY/ESCALATION/YULAN/YULAN3.json
Owners: none

rename codename
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA.json
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA1.json
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA2.json
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA3.json
  resources/locale.json
  static/EscalationCodenames.json
  static/PeacockGameChangerProperties.json
Owners: @AnthonyFuller

Update PeacockGameChangerProperties.json
  static/PeacockGameChangerProperties.json
Owners: none

Rewrite basics of contract creation, preparing for adding kill conditions
  .idea/.gitignore
  components/contracts/contractRouting.ts
  components/contracts/dataGen.ts
  components/contracts/hitsCategoryService.ts
  components/controller.ts
  components/livesplit/liveSplitManager.ts
  components/menus/campaigns.ts
  components/menus/destinations.ts
  components/statemachines/contractCreation.ts
  components/types/types.ts
Owners: @fu5ha

little fixes
  contractdata/BANGKOK/ESCALATION/TUBEROSE/TUBEROSE1.json
  contractdata/BANGKOK/ESCALATION/TUBEROSE/TUBEROSE2.json
  contractdata/BANGKOK/ESCALATION/TUBEROSE/TUBEROSE3.json
  resources/locale.json
Owners: @AnthonyFuller

fix: Evergreen reset to level1 after reaching max level. fix: Sniper maps reset to level1 after reaching max level.
  components/utils.ts
Owners: none

fix: Evergreen reset to level1 after reaching max level. (#405)
  components/utils.ts
Owners: none

Node.js 20.10.0 -> 20.12.0
  .nvmrc
Owners: none

#115: Support creating contracts with kill conditions
  components/statemachines/contractCreation.ts
Owners: none

Add another file to the gitignore
  .idea/.gitignore
Owners: none

fix: Evergreen reset to level1 after reaching max level. (#405)
  components/utils.ts
Owners: none

Update vscode settings to use prettier for formatting json files,
  .vscode/settings.json
Owners: none

Add a vscode launch config to debug the tools (yarn run-dev tools)
  .vscode/launch.json
Owners: none

Add a vscode launch config to debug the tools (yarn run-dev tools)
  .vscode/launch.json
Owners: none

Update vscode settings to use prettier for formatting json files,
  .vscode/settings.json
Owners: none

Rework update checking
  components/discord/discordRp.ts
  components/eventHandler.ts
  components/generatedPeacockRequireTable.ts
  components/index.ts
  components/livesplit/liveSplitManager.ts
  components/menus/hub.ts
  components/tools.ts
  components/utils.ts
  package.json
  packaging/build.mjs
  yarn.lock
Owners: @fu5ha

fix: Update help URL
  packaging/HOW_TO_USE.html
Owners: none

Add new easter challenge in berlin
  contractdata/BERLIN/_BERLIN_CHALLENGES.json
Owners: none

fix: WEB-66284
  .idea/Peacock.iml
Owners: none

Add new easter challenge in berlin
  contractdata/BERLIN/_BERLIN_CHALLENGES.json
Owners: none

rewrite statemachines and run prettier
  contractdata/SAPIENZA/ESCALATION/JEFFREY/JEFFREY2.json
  contractdata/SAPIENZA/ESCALATION/JEFFREY/JEFFREY3.json
  static/PeacockGameChangerProperties.json
Owners: none

fix: Formatter bug
  components/utils.ts
Owners: none

run prettier
  contractdata/BANGKOK/ESCALATION/TUBEROSE/TUBEROSE.json
  contractdata/BANGKOK/ESCALATION/TUBEROSE/TUBEROSE1.json
  contractdata/BANGKOK/ESCALATION/TUBEROSE/TUBEROSE2.json
  contractdata/BANGKOK/ESCALATION/TUBEROSE/TUBEROSE3.json
  resources/locale.json
  static/PeacockGameChangerProperties.json
Owners: @AnthonyFuller

run prettier
  components/contracts/missionsInLocation.ts
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA.json
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA1.json
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA2.json
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA3.json
  resources/locale.json
  static/PeacockGameChangerProperties.json
Owners: @AnthonyFuller

run prettier
  contractdata/BANGKOK/_H2_BANGKOK_CHALLENGES.json
  contractdata/COLORADO/_H2_COLORADO_CHALLENGES.json
  contractdata/GLOBAL/_H2_ELUSIVES_CHALLENGES.json
  contractdata/HAWKESBAY/_H2_HAWKESBAY_CHALLENGES.json
  contractdata/HOKKAIDO/_H2_HOKKAIDO_CHALLENGES.json
  contractdata/MARRAKESH/_H2_MARRAKESH_CHALLENGES.json
  contractdata/MIAMI/_H2_MIAMI_CHALLENGES.json
  contractdata/PARIS/_H2_PARIS_CHALLENGES.json
  contractdata/SANTAFORTUNA/_H2_SANTAFORTUNA_CHALLENGES.json
  contractdata/SAPIENZA/_H2_SAPIENZA_CHALLENGES.json
  contractdata/SGAIL/_H2_SGAIL_CHALLENGES.json
  contractdata/WHITTLETON/_H2_WHITTLETON_CHALLENGES.json
Owners: none

run prettier
  .vscode/settings.json
  contractdata/ARCADE/KASTURI/KASTURI1.json
  contractdata/ARCADE/KASTURI/KASTURI2.json
  contractdata/ARCADE/KASTURI/KASTURI3.json
Owners: none

feat: Support more 7DS/Freelancer scenes for Discord RP
  components/discord/discordRp.ts
Owners: none

fix: Don't emit useless metadata in require table
  .idea/vcs.xml
  components/generatedPeacockRequireTable.ts
  packaging/buildTasks.mjs
Owners: none

Fix executive and smart casual entitlements
  components/inventory.ts
  components/ownership.ts
Owners: none

Allow replanning/restarting for elusives
  resources/dynamic_resources_h3/009587F1A9761F45.JSON
  resources/dynamic_resources_h3/009587F1A9761F45.JSON.meta
Owners: @AnthonyFuller

Update gitignore
  .gitignore
Owners: none

Save contracts when retrieved from an official hits category
  components/contracts/hitsCategoryService.ts
Owners: none

Remove accidental import
  components/contracts/hitsCategoryService.ts
Owners: none

Another escalation qol fix batch (#400)
  contractdata/ARCADE/KASTURI/KASTURI1.json
  contractdata/ARCADE/KASTURI/KASTURI2.json
  contractdata/ARCADE/KASTURI/KASTURI3.json
  contractdata/SAPIENZA/ESCALATION/JEFFREY/JEFFREY2.json
  contractdata/SAPIENZA/ESCALATION/JEFFREY/JEFFREY3.json
  static/PeacockGameChangerProperties.json
Owners: none

Add OrderIndex to challenge groups and removeChallenge function
  components/candle/challengeService.ts
  components/types/challenges.ts
  components/types/types.ts
  packaging/extractChallengeData.mjs
Owners: none

Forgot a type
  components/types/challenges.ts
Owners: none

Load challenges before loading plugins
  components/controller.ts
Owners: none

escalation: yulania (#402)
  components/contracts/missionsInLocation.ts
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA.json
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA1.json
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA2.json
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA3.json
  resources/locale.json
  static/EscalationCodenames.json
  static/PeacockGameChangerProperties.json
Owners: @AnthonyFuller

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

.github/CODEOWNERS:

# CI
.cirrus.yml @RDIL
.github/workflows @RDIL
.github/workflows/locale.yml @AnthonyFuller

# LiveSplit
components/livesplit @fu5ha

# Evergreen
components/evergreen @AnthonyFuller
components/evergreen.ts @AnthonyFuller

# Localisation
resources @AnthonyFuller
