Repository thepeacockproject/Peacock, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RDIL, @AnthonyFuller, @fu5ha

Same thing for Miami challenge
  contractdata/MIAMI/_MIAMI_CHALLENGES.json
Owners: none

fix: avoid crashing on bogus unlockables by filtering them out
  components/inventory.ts
Owners: none

Update locale.json // german
  resources/locale.json
Owners: @AnthonyFuller

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

Reformat escalation guidelines Undo prettier formatting in menuSystem
  components/menus/menuSystem.ts
  docs/ESCALATION_GUIDELINES.md
Owners: none

fix: add entitlements to Tamarillo
  contractdata/ARCADE/TAMARILLO/TAMARILLO.json
  contractdata/ARCADE/TAMARILLO/TAMARILLO1.json
  contractdata/ARCADE/TAMARILLO/TAMARILLO2.json
Owners: none

feat: automated
  .github/workflows/version-manager.yml
  .gitignore
  components/types/version.d.ts
  components/utils.ts
  tsconfig.json
Owners: @RDIL

try to fix some errors
  components/types/version.d.ts
  components/utils.ts
  webui/vite.config.ts
Owners: none

remove unnecessary pieces
  components/types/version.d.ts
  components/utils.ts
  tsconfig.json
Owners: none

Fix typo
  components/candle/challengeService.ts
  components/controller.ts
  components/types/types.ts
Owners: none

Update PR template
  .github/pull_request_template.md
Owners: none

feat: update escalation level picker to handle multiple changes at once
  components/webFeatures.ts
  static/EscalationCodenames.json
  webui/src/App.css
  webui/src/EscalationLevelPicker.tsx
  webui/src/pages/EscalationLevelPage.tsx
  webui/src/utils.ts
Owners: none

Fix German localization inconsistencies
  resources/locale.json
Owners: @AnthonyFuller

Change back to "Sleazeball-Lage"
  resources/locale.json
Owners: @AnthonyFuller

fix(inventory): TOKEN_OUTFIT_WET_SUIT not showing in stashpoints
  components/configSwizzleManager.ts
  components/loadouts.ts
  components/menuData.ts
  components/ownership.ts
  components/utils.ts
  static/H2StashpointTemplate.json
  static/StashpointTemplate.json
Owners: none

chore: make comment in loadouts.ts clearer
  components/loadouts.ts
Owners: none

chore: add version number to silly hack comment
  components/loadouts.ts
Owners: none

chore: bump version to 8.6.0
  package.json
Owners: none

chore: Remove types publish job
  .cirrus.yml
Owners: @RDIL

feat: add new Holiday Hoarders challenge
  contractdata/PARIS/_PARIS_CHALLENGES.json
Owners: none

refactor(profile): respect SubLocation.Properties.IsHidden when filtering sublocations
  components/menus/destinations.ts
  components/menus/hub.ts
  components/menus/playerProfile.ts
  components/types/types.ts
Owners: none

refactor(destination): remove hardcoded check for wolverine when filtering for locations data
  components/menus/destinations.ts
Owners: none

fix: Loadouts being empty on brand-new profiles
  components/loadouts.ts
Owners: none

Update locale.json
  resources/locale.json
Owners: @AnthonyFuller

fix: JSON stringify doesn't actually work on an error it seems
  components/webFeatures.ts
Owners: none

fix progression transfer error when IOI profile has no PlayerProfileXP
  components/webFeatures.ts
Owners: none

fix(#672): recursively watch for changes to the contracts folder
  components/hotReloadService.ts
  components/index.ts
Owners: none

PoC incomplete c++ patcher implementation
  patcher-darwin/.idea/.gitignore
  patcher-darwin/.idea/.name
  patcher-darwin/.idea/editor.xml
  patcher-darwin/.idea/inspectionProfiles/Project_Default.xml
  patcher-darwin/.idea/misc.xml
  patcher-darwin/.idea/modules.xml
  patcher-darwin/.idea/patcher-darwin.iml
  patcher-darwin/.idea/vcs.xml
  patcher-darwin/CMakeLists.txt
  patcher-darwin/src/log.h
  patcher-darwin/src/main.cpp
  patcher-darwin/src/memory.cpp
  patcher-darwin/src/memory.h
  patcher-darwin/src/patcher.cpp
  patcher-darwin/src/patcher.h
  patcher-darwin/src/patches.cpp
  patcher-darwin/src/patches.h
  patcher-darwin/src/process.cpp
  patcher-darwin/src/process.h
  patcher-darwin/src/scanner.cpp
  patcher-darwin/src/scanner.h
  patcher-darwin/src/settings.cpp
  patcher-darwin/src/settings.h
  patcher-darwin/src/version.cpp
  patcher-darwin/src/version.h
Owners: none

Cleanup, add 3_260_1 definition
  patcher-darwin/CMakeLists.txt
  patcher-darwin/src/log.h
  patcher-darwin/src/memory.cpp
  patcher-darwin/src/memory.h
  patcher-darwin/src/patch_definitions/definitions.h
  patcher-darwin/src/patch_definitions/v3_260_1.cpp
  patcher-darwin/src/patcher.cpp
  patcher-darwin/src/patcher.h
  patcher-darwin/src/patches.cpp
  patcher-darwin/src/patches.h
  patcher-darwin/src/process.cpp
  patcher-darwin/src/process.h
  patcher-darwin/src/scanner.cpp
  patcher-darwin/src/scanner.h
  patcher-darwin/src/settings.cpp
  patcher-darwin/src/settings.h
  patcher-darwin/src/version.cpp
  patcher-darwin/src/version.h
Owners: none

Just remove settings for now since we don't have a gui
  patcher-darwin/CMakeLists.txt
  patcher-darwin/src/main.cpp
  patcher-darwin/src/patcher.h
  patcher-darwin/src/settings.cpp
  patcher-darwin/src/settings.h
Owners: none

Apple oauth wip
  components/databaseHandler.ts
  components/index.ts
  components/oauthToken.ts
  components/types/types.ts
  patcher-darwin/CMakeLists.txt
  patcher-darwin/src/patch_definitions/v3_260_1.cpp
  patcher-darwin/src/patcher.cpp
  patcher-darwin/src/patches.h
Owners: none

Support steam version, working AOB scanner
  patcher-darwin/src/log.h
  patcher-darwin/src/patch_definitions/v3_260_1.cpp
  patcher-darwin/src/patcher.cpp
  patcher-darwin/src/process.cpp
  patcher-darwin/src/scanner.cpp
Owners: none

Add config for macossteam-prod
  components/index.ts
Owners: none

Prettier
  components/index.ts
  components/oauthToken.ts
Owners: none

feat: initial implementation of checking entitlements with Steam directly using the app ticket
  components/entitlementStrategies.ts
  components/flags.ts
  components/oauthToken.ts
  package.json
  yarn.lock
Owners: none

Create Dockerfile
  Dockerfile
Owners: none

Create docker-build.yml
  .github/workflows/docker-build.yml
Owners: @RDIL

Update docker-build.yml
  .github/workflows/docker-build.yml
Owners: @RDIL

Update readme.md
  readme.md
Owners: none

Update readme.md
  readme.md
Owners: none

.github/CODEOWNERS:

# CI
.cirrus.yml @RDIL
.github/workflows @RDIL
.github/workflows/locale.yml @AnthonyFuller

# LiveSplit
components/livesplit @fu5ha

# Evergreen
components/evergreen @AnthonyFuller
components/evergreen.ts @AnthonyFuller

# Localisation
resources @AnthonyFuller
