Repository thepeacockproject/Peacock, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RDIL, @AnthonyFuller, @fu5ha

.github/CODEOWNERS:

# CI
.cirrus.yml @RDIL
.github/workflows @RDIL
.github/workflows/locale.yml @AnthonyFuller

# LiveSplit
components/livesplit @fu5ha

# Evergreen
components/evergreen @AnthonyFuller
components/evergreen.ts @AnthonyFuller

# Localisation
resources @AnthonyFuller

Update version to 6.5.1
  package.json
Owners: none

Add pontus group data
  contractdata/AMBROSE/ESCALATION/PONTUS/PONTUS.json
  contractdata/AMBROSE/ESCALATION/PONTUS/PONTUS1.json
  contractdata/AMBROSE/ESCALATION/PONTUS/PONTUS3.json
Owners: none

Add ispeacock.json
  components/menus/menuSystem.ts
Owners: none

Add plugin loading from SMF
  components/controller.ts
  components/types/types.ts
Owners: none

Bump version to v6.5.2
  package.json
Owners: none

Various pontus changes
  components/contracts/missionsInLocation.ts
  contractdata/AMBROSE/ESCALATION/PONTUS/PONTUS.json
  contractdata/AMBROSE/ESCALATION/PONTUS/PONTUS2.json
  contractdata/AMBROSE/ESCALATION/PONTUS/PONTUS3.json
Owners: none

discussed in a bit more detail here: https://discord.com/channels/826809653181808651/1089161116527108157/1148372825615388917
  components/profileHandler.ts
Owners: none

prettier
  components/profileHandler.ts
Owners: none

Fix to extension filtering in GetProfile request (#319)
  components/profileHandler.ts
Owners: none

feat(menu): add escalation tile to H2/3 dashboard (#314)
  components/configSwizzleManager.ts
  components/contracts/hitsCategoryService.ts
  components/controller.ts
  components/menuData.ts
  components/menus/menuSystem.ts
  components/profileHandler.ts
  contractdata/BERLIN/ESCALATION/MENDIE/MENDIE.json
  contractdata/BERLIN/ESCALATION/MENDIE/MENDIE1.json
  contractdata/BERLIN/ESCALATION/MENDIE/MENDIE2.json
  contractdata/BERLIN/ESCALATION/MENDIE/MENDIE3.json
  static/ArcadePageTemplate.json
  static/EiderDashboard.json
  static/H2CareerTemplate.json
  static/H2DashboardTemplate.json
  static/H2SniperContentTemplate.json
  static/HitsCategoryContractAttackTemplate.json
Owners: none

Add comment for profile version updating
  components/utils.ts
Owners: none

Enable saving for TS6
  contractdata/BANGKOK/THEVETERAN.json
  contractdata/COLORADO/THEMERCENARY.json
  contractdata/HOKKAIDO/THECONTROLLER.json
  contractdata/MARRAKESH/THEEXTRACTOR.json
  contractdata/PARIS/THEDIRECTOR.json
  contractdata/SAPIENZA/THEENFORCER.json
Owners: none

Enable saving for TS6
  contractdata/BANGKOK/THEVETERAN.json
  contractdata/COLORADO/THEMERCENARY.json
  contractdata/HOKKAIDO/THECONTROLLER.json
  contractdata/MARRAKESH/THEEXTRACTOR.json
  contractdata/PARIS/THEDIRECTOR.json
  contractdata/SAPIENZA/THEENFORCER.json
Owners: none

feat: add descriptions to Peacock escalations
  contractdata/BERLIN/ESCALATION/MENDIE/MENDIE.json
  contractdata/BERLIN/ESCALATION/MENDIE/MENDIE1.json
  contractdata/BERLIN/ESCALATION/MENDIE/MENDIE2.json
  contractdata/BERLIN/ESCALATION/MENDIE/MENDIE3.json
  contractdata/CHONGQING/ESCALATION/KOATSC/KOATSC.json
  contractdata/DARTMOOR/ESCALATION/DEZ/DEZ.json
  contractdata/HAVEN/ESCALATION/PIRATESPROBLEM/PIRATESPROBLEM.json
  contractdata/HAVEN/ESCALATION/SLEAZEBALL/SLEAZEBALL.json
  contractdata/HOKKAIDO/ESCALATION/CMCHAOS/CMCHAOS.json
  contractdata/MENDOZA/ESCALATION/ARGENTINE/ARGENTINE.json
  contractdata/MENDOZA/ESCALATION/ARGENTINE/ARGENTINE1.json
  contractdata/MENDOZA/ESCALATION/ARGENTINE/ARGENTINE2.json
  contractdata/MENDOZA/ESCALATION/ARGENTINE/ARGENTINE3.json
  contractdata/MENDOZA/ESCALATION/YANNINI/YANNINI.json
  contractdata/MUMBAI/ESCALATION/KHAKIASP/KHAKIASP.json
  contractdata/NEWYORK/ESCALATION/HEDGEBUSH/HEDGEBUSH.json
  contractdata/NEWYORK/ESCALATION/HEDGEBUSH/HEDGEBUSH1.json
  contractdata/NEWYORK/ESCALATION/HEDGEBUSH/HEDGEBUSH2.json
  contractdata/NEWYORK/ESCALATION/HEDGEBUSH/HEDGEBUSH3.json
  contractdata/PARIS/ESCALATION/XMAS/XMAS.json
  contractdata/PARIS/ESCALATION/XMAS/XMAS1.json
  contractdata/PARIS/ESCALATION/XMAS/XMAS2.json
  contractdata/PARIS/ESCALATION/XMAS/XMAS3.json
  contractdata/SAPIENZA/ESCALATION/BLUEBERRYBUSH/BLUEBERRYBUSH.json
  contractdata/SAPIENZA/ESCALATION/BLUEBERRYBUSH/BLUEBERRYBUSH1.json
  contractdata/SAPIENZA/ESCALATION/BLUEBERRYBUSH/BLUEBERRYBUSH2.json
  contractdata/SAPIENZA/ESCALATION/BLUEBERRYBUSH/BLUEBERRYBUSH3.json
  contractdata/SAPIENZA/ESCALATION/JEFFREY/JEFFREY.json
  contractdata/SAPIENZA/ESCALATION/JEFFREY/JEFFREY1.json
  contractdata/SAPIENZA/ESCALATION/JEFFREY/JEFFREY2.json
  contractdata/SAPIENZA/ESCALATION/JEFFREY/JEFFREY3.json
  contractdata/SAPIENZA/ESCALATION/ROCCO/ROCCO.json
  contractdata/WHITTLETON/ESCALATION/DAMMCHICU/DAMMCHICU.json
  resources/locale.json
Owners: @AnthonyFuller

fix: un-translate as per requested
  resources/locale.json
Owners: @AnthonyFuller

fix: change everything as requested by Anthony
  contractdata/BERLIN/ESCALATION/MENDIE/MENDIE.json
  contractdata/CHONGQING/ESCALATION/KOATSC/KOATSC.json
  contractdata/DARTMOOR/ESCALATION/DEZ/DEZ.json
  contractdata/HAVEN/ESCALATION/PIRATESPROBLEM/PIRATESPROBLEM.json
  contractdata/HAVEN/ESCALATION/SLEAZEBALL/SLEAZEBALL.json
  contractdata/HOKKAIDO/ESCALATION/CMCHAOS/CMCHAOS.json
  contractdata/MENDOZA/ESCALATION/ARGENTINE/ARGENTINE.json
  contractdata/MENDOZA/ESCALATION/YANNINI/YANNINI.json
  contractdata/MUMBAI/ESCALATION/KHAKIASP/KHAKIASP.json
  contractdata/NEWYORK/ESCALATION/HEDGEBUSH/HEDGEBUSH.json
  contractdata/PARIS/ESCALATION/XMAS/XMAS.json
  contractdata/SAPIENZA/ESCALATION/BLUEBERRYBUSH/BLUEBERRYBUSH.json
  contractdata/SAPIENZA/ESCALATION/JEFFREY/JEFFREY.json
  contractdata/SAPIENZA/ESCALATION/ROCCO/ROCCO.json
  contractdata/WHITTLETON/ESCALATION/DAMMCHICU/DAMMCHICU.json
  resources/locale.json
Owners: @AnthonyFuller

Remove addClientSideModDependency (deprecated since v5.5.0)
  components/controller.ts
Owners: none

Remove deprecated call function for async hooks
  components/hooksImpl.ts
Owners: none

Expose SMF lastDeploy to plugins
  components/controller.ts
  components/types/types.ts
Owners: none

Add optional changing to modIsInstalled
  components/controller.ts
Owners: none

And to lastServerSideData...
  components/controller.ts
Owners: none

feat: update German translations
  resources/locale.json
Owners: @AnthonyFuller

fix: update German translations
  resources/locale.json
Owners: @AnthonyFuller

Add descriptions to Peacock escalations (#320)
  contractdata/BERLIN/ESCALATION/MENDIE/MENDIE.json
  contractdata/BERLIN/ESCALATION/MENDIE/MENDIE1.json
  contractdata/BERLIN/ESCALATION/MENDIE/MENDIE2.json
  contractdata/BERLIN/ESCALATION/MENDIE/MENDIE3.json
  contractdata/CHONGQING/ESCALATION/KOATSC/KOATSC.json
  contractdata/DARTMOOR/ESCALATION/DEZ/DEZ.json
  contractdata/HAVEN/ESCALATION/PIRATESPROBLEM/PIRATESPROBLEM.json
  contractdata/HAVEN/ESCALATION/SLEAZEBALL/SLEAZEBALL.json
  contractdata/HOKKAIDO/ESCALATION/CMCHAOS/CMCHAOS.json
  contractdata/MENDOZA/ESCALATION/ARGENTINE/ARGENTINE.json
  contractdata/MENDOZA/ESCALATION/ARGENTINE/ARGENTINE1.json
  contractdata/MENDOZA/ESCALATION/ARGENTINE/ARGENTINE2.json
  contractdata/MENDOZA/ESCALATION/ARGENTINE/ARGENTINE3.json
  contractdata/MENDOZA/ESCALATION/YANNINI/YANNINI.json
  contractdata/MUMBAI/ESCALATION/KHAKIASP/KHAKIASP.json
  contractdata/NEWYORK/ESCALATION/HEDGEBUSH/HEDGEBUSH.json
  contractdata/NEWYORK/ESCALATION/HEDGEBUSH/HEDGEBUSH1.json
  contractdata/NEWYORK/ESCALATION/HEDGEBUSH/HEDGEBUSH2.json
  contractdata/NEWYORK/ESCALATION/HEDGEBUSH/HEDGEBUSH3.json
  contractdata/PARIS/ESCALATION/XMAS/XMAS.json
  contractdata/PARIS/ESCALATION/XMAS/XMAS1.json
  contractdata/PARIS/ESCALATION/XMAS/XMAS2.json
  contractdata/PARIS/ESCALATION/XMAS/XMAS3.json
  contractdata/SAPIENZA/ESCALATION/BLUEBERRYBUSH/BLUEBERRYBUSH.json
  contractdata/SAPIENZA/ESCALATION/BLUEBERRYBUSH/BLUEBERRYBUSH1.json
  contractdata/SAPIENZA/ESCALATION/BLUEBERRYBUSH/BLUEBERRYBUSH2.json
  contractdata/SAPIENZA/ESCALATION/BLUEBERRYBUSH/BLUEBERRYBUSH3.json
  contractdata/SAPIENZA/ESCALATION/JEFFREY/JEFFREY.json
  contractdata/SAPIENZA/ESCALATION/JEFFREY/JEFFREY1.json
  contractdata/SAPIENZA/ESCALATION/JEFFREY/JEFFREY2.json
  contractdata/SAPIENZA/ESCALATION/JEFFREY/JEFFREY3.json
  contractdata/SAPIENZA/ESCALATION/ROCCO/ROCCO.json
  contractdata/WHITTLETON/ESCALATION/DAMMCHICU/DAMMCHICU.json
  resources/locale.json
Owners: @AnthonyFuller

Fix locale workflow
  .github/workflows/locale.yml
Owners: @AnthonyFuller

I should read the docs next time
  .github/workflows/locale.yml
Owners: @AnthonyFuller

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

Update locale.json
  resources/locale.json
Owners: @AnthonyFuller

Update locale.json (#322)
  resources/locale.json
Owners: @AnthonyFuller

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

Fix SMF check
  components/controller.ts
Owners: none

Fix SMF check (#324)
  components/controller.ts
Owners: none

feat: initial support for H3 Windows
  PeacockPatcher.exe
  components/index.ts
  components/oauthToken.ts
  components/types/types.ts
  components/utils.ts
  patcher/AOBScanner.cs
Owners: none

Node 18.18.2
  .nvmrc
Owners: none

Bump version to v6.5.3
  package.json
Owners: none

Update dependencies
  .yarn/releases/yarn-4.0.0-rc.48.cjs
  .yarn/releases/yarn-4.0.0-rc.53.cjs
  .yarnrc.yml
  components/candle/masteryService.ts
  package.json
  packaging/typedefs/package.json
  webui/package.json
  yarn.lock
Owners: none

Fix linting issues
  components/contracts/hitsCategoryService.ts
  components/controller.ts
  components/discord/client.ts
  components/livesplit/liveSplitClient.ts
  components/menuData.ts
  components/menus/planning.ts
  components/tools.ts
  tests/src/oauthToken.test.ts
  tests/src/playStyles.test.ts
  tests/src/vitest.test.ts
Owners: @fu5ha

Pontus l10n
  contractdata/AMBROSE/ESCALATION/PONTUS/PONTUS.json
  contractdata/AMBROSE/ESCALATION/PONTUS/PONTUS1.json
  contractdata/AMBROSE/ESCALATION/PONTUS/PONTUS2.json
  contractdata/AMBROSE/ESCALATION/PONTUS/PONTUS3.json
  resources/locale.json
Owners: @AnthonyFuller

Add season properties to pontus
  contractdata/AMBROSE/ESCALATION/PONTUS/PONTUS.json
Owners: none

Add id to pontus in escalation codenames
  static/EscalationCodenames.json
Owners: none
