Repository thepeacockproject/Peacock, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RDIL, @AnthonyFuller, @fu5ha

.github/CODEOWNERS:

# CI
.cirrus.yml @RDIL
.github/workflows @RDIL
.github/workflows/locale.yml @AnthonyFuller

# LiveSplit
components/livesplit @fu5ha

# Evergreen
components/evergreen @AnthonyFuller
components/evergreen.ts @AnthonyFuller

# Localisation
resources @AnthonyFuller

Update readme.md
  readme.md
Owners: none

Update readme.md
  readme.md
Owners: none

Update docker-build.yml
  .github/workflows/docker-build.yml
Owners: @RDIL

Update docker-build.yml
  .github/workflows/docker-build.yml
Owners: @RDIL

Update docker-build.yml
  .github/workflows/docker-build.yml
Owners: @RDIL

Update Dockerfile
  Dockerfile
Owners: none

Update Dockerfile
  Dockerfile
Owners: none

Update readme.md
  readme.md
Owners: none

Update readme.md
  readme.md
Owners: none

Update readme.md
  readme.md
Owners: none

Update readme.md
  readme.md
Owners: none

Update readme.md
  readme.md
Owners: none

chore: update yarn lockfile
  yarn.lock
Owners: none

refactor(SteamStrategy): remove dependency on steam-appticket
  components/entitlementStrategies.ts
  components/utils.ts
  package.json
  yarn.lock
Owners: none

refactor(parseAppTicket): return app id and dlcs as strings, compute hash
  components/utils.ts
Owners: none

refactor(SteamStrategy): parse ticket before calling out to steam, update to reflect changes made to parseAppTicket, use app id from the ticket, change cache to a set
  components/entitlementStrategies.ts
  components/oauthToken.ts
Owners: none

feat(SteamStrategy): implement validation via the backend (and a prettier run)
  components/entitlementStrategies.ts
  components/utils.ts
Owners: none

feat(parseAppTicket): validate ownership ticket version
  components/utils.ts
Owners: none

chore: prettier run
  components/utils.ts
Owners: none

chore: prettier run
  components/utils.ts
Owners: none

fix(SteamStrategy/Backend): don't throw if the response status is 400
  components/entitlementStrategies.ts
Owners: none

chore: prettier run
  components/entitlementStrategies.ts
Owners: none

Change VSCode settings to use an oxfmt formatter instead of prettier
  .vscode/extensions.json
  .vscode/settings.json
Owners: none

feat(wf): support displaying all platform names linked to profile
  components/webFeatures.ts
Owners: none

Do not attempt progress transfer if official server auth failed
  components/webFeatures.ts
Owners: none

Rename some params in read/writeExternalUserData for clarity
  components/databaseHandler.ts
Owners: none

fix: Correctly handle 410 responses in official server auth
  components/index.ts
  components/oauthToken.ts
  components/officialServerAuth.ts
  components/webFeatures.ts
Owners: none

chore: Pin actions versions to commit hashes
  .github/workflows/codeql.yml
  .github/workflows/locale-mod.yml
  .github/workflows/locale.yml
  .github/workflows/patcher-darwin.yml
  .github/workflows/patcher-publish.yml
  .github/workflows/patcher.yml
Owners: @RDIL, @AnthonyFuller

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

chore: Migrate off Cirrus
  .cirrus.yml
  .github/workflows/build.yml
  .github/workflows/tests.yml
Owners: @RDIL

Running tests on tags is fine now
  .github/workflows/tests.yml
Owners: @RDIL

chore: Kill typedefs package
  package.json
  packaging/typedefs/LICENSE
  packaging/typedefs/package.json
  packaging/versionTypedefsPackageJson.mjs
  yarn.lock
Owners: none

feat: First light??
  patcher/HitmanPatcher.Core/HitmanVersion.cs
  patcher/HitmanPatcher.Core/PatchDefinitions/v007FirstLight.cs
Owners: none

add it to the list
  patcher/HitmanPatcher.Core/MemoryPatcher.cs
Owners: none

chore: Update for day 1 patch
  patcher/HitmanPatcher.Core/PatchDefinitions/v007FirstLight.cs
Owners: none

fix: use unique names
  patcher/HitmanPatcher.Core/PatchDefinitions/v007FirstLight.cs
Owners: none

feat: Enable gog by default for research purposes
  patcher/HitmanPatcher.Core/PatchDefinitions/Hitman6/V1_16.cs
Owners: none

feat!: First light AOB scanner
  patcher/HitmanPatcher.Core/AOBScanner.cs
  patcher/HitmanPatcher.Core/HitmanVersion.cs
  patcher/HitmanPatcher.Core/PatchDefinitions/FirstLight/V1_0.cs
Owners: none

chore: Bump version to v10, copyright year, move assets to subdirectory
  patcher/HitmanPatcher/Assets/Bond_standard.png
  patcher/HitmanPatcher/Assets/Novikov_error.png
  patcher/HitmanPatcher/Assets/Novikov_standard.png
  patcher/HitmanPatcher/Assets/Novikov_success.png
  patcher/HitmanPatcher/Assets/patcher.ico
  patcher/HitmanPatcher/HitmanPatcher.csproj
Owners: none

feat: update existing SMF integration for v3
  components/2016/legacyContractHandler.ts
  components/2016/legacyMenuData.ts
  components/2016/legacyProfileRouter.ts
  components/candle/challengeHelpers.ts
  components/candle/challengeService.ts
  components/candle/progressionService.ts
  components/contracts/contractRouting.ts
  components/contracts/contractsModeRouting.ts
  components/contracts/dataGen.ts
  components/contracts/escalations/escalationService.ts
  components/contracts/hitsCategoryService.ts
  components/contracts/leaderboards.ts
  components/controller.ts
  components/eventHandler.ts
  components/flags.ts
  components/index.ts
  components/livesplit/liveSplitManager.ts
  components/menuData.ts
  components/menus/campaigns.ts
  components/menus/destinations.ts
  components/menus/favoriteContracts.ts
  components/menus/hub.ts
  components/menus/planning.ts
  components/menus/playerProfile.ts
  components/menus/playnext.ts
  components/menus/stashpoints.ts
  components/multiplayer/multiplayerMenuData.ts
  components/multiplayer/multiplayerService.ts
  components/profileHandler.ts
  components/scoreHandler.ts
  components/smfSupport.ts
  components/types/types.ts
  tests/src/contractResolution.test.ts
Owners: @fu5ha
