Repository thepeacockproject/Peacock, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RDIL, @AnthonyFuller, @fu5ha

.github/CODEOWNERS:

# CI
.cirrus.yml @RDIL
.github/workflows @RDIL
.github/workflows/locale.yml @AnthonyFuller

# LiveSplit
components/livesplit @fu5ha

# Evergreen
components/evergreen @AnthonyFuller
components/evergreen.ts @AnthonyFuller

# Localisation
resources @AnthonyFuller

Remove legacy 47 suit from the diff
  components/menus/menuSystem.ts
Owners: none

Bump version to v6.5.5
  package.json
Owners: none

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

Fix LSS type
  components/types/types.ts
Owners: none

Fix Noel and Mamushi not showing as sub locations
  components/contracts/missionsInLocation.ts
  static/LocationsData.json
Owners: none

Move Southern Comfort to Noel sublocation
  components/contracts/missionsInLocation.ts
  contractdata/PARIS/_PARIS_CHALLENGES.json
Owners: none

Update server ver
  components/utils.ts
Owners: none

Update server ver
  components/utils.ts
Owners: none

Add discord rich presence for the drop
  components/discordRp.ts
  static/DiscordRichAssetsForBricks.json
Owners: none

Add discord rich presence for the drop
  components/discordRp.ts
  static/DiscordRichAssetsForBricks.json
Owners: none

Remove obsolete code
  components/configSwizzleManager.ts
  components/controller.ts
  components/generatedPeacockRequireTable.ts
  components/index.ts
  components/tools.ts
  packaging/buildTasks.mjs
Owners: none

testing something
  patcher/BuildCI.cmd
Owners: none

trying things 2
  .cirrus.yml
Owners: @RDIL

Update locale.json
  resources/locale.json
Owners: @AnthonyFuller

Update Russian locale (#334)
  resources/locale.json
Owners: @AnthonyFuller

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

Refactor SMF support into it's own helper class
  components/controller.ts
  components/smfSupport.ts
Owners: none

Refactor SMF support into it's own helper class (#335)
  components/controller.ts
  components/smfSupport.ts
Owners: none

Added Spanish translation
  resources/locale.json
Owners: @AnthonyFuller

Prettier run
  resources/locale.json
Owners: @AnthonyFuller

Added Spanish translation (#338)
  resources/locale.json
Owners: @AnthonyFuller

[skip ci] Update locale packages
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
Owners: @AnthonyFuller

Add lastDeploy.json to debug profile
  components/tools.ts
Owners: none

Add lastDeploy.json to debug profile
  components/tools.ts
Owners: none

Switch patcher build to linux
  .cirrus.yml
Owners: @RDIL

Keep trying to fix this
  .cirrus.yml
Owners: @RDIL

Update .cirrus.yml
  .cirrus.yml
Owners: @RDIL

Add patcher workflow
  .github/workflows/patcher.yml
Owners: @RDIL

more m$ BS
  .github/workflows/patcher.yml
Owners: @RDIL

Allow the patcher project to open and build on Visual Studio 2022 (#281)
  .cirrus.yml
  .github/workflows/patcher.yml
  patcher/BuildCI.cmd
  patcher/HitmanPatcher.csproj
Owners: @RDIL

Patcher: unify Linux/Windows implementation
  patcher/BuildCI.cmd
  patcher/HitmanPatcher.csproj
  patcher/HitmanPatcher.sln
  patcher/MemoryPatcher.cs
  patcher/Pinvoke.cs
Owners: none

Bump patcher major version after .NET framework update
  patcher/Properties/AssemblyInfo.cs
Owners: none

Use new prebuilt patcher from CI
  PeacockPatcher.exe
Owners: none

Cherry-pick "lite" -> "linux" from #339
  .cirrus.yml
  packaging/ciAssemble.sh
Owners: @RDIL

Update generated require table
  components/generatedPeacockRequireTable.ts
Owners: none

chore: Cherry-pick a bunch of dependency updates and test fixes from #340
  .cirrus.yml
  .editorconfig
  .yarn/releases/yarn-4.0.0-rc.53.cjs
  .yarnrc.yml
  package.json
  packaging/extractElusivesChallengeData.mjs
  packaging/typedefs/package.json
  tests/helpers/testHelpers.ts
  tests/package.json
  tests/vitest.config.ts
  webui/package.json
  yarn.lock
Owners: @RDIL

Fix some strict type errors
  components/2016/legacyProfileRouter.ts
  components/candle/challengeHelpers.ts
  components/candle/masteryService.ts
  components/candle/progressionService.ts
  components/contracts/contractsModeRouting.ts
  components/contracts/escalations/escalationService.ts
  components/discord/client.ts
  components/entitlementStrategies.ts
  components/hotReloadService.ts
  components/inventory.ts
  components/livesplit/liveSplitManager.ts
  components/loggingInterop.ts
  components/menuData.ts
  components/menus/campaigns.ts
  components/menus/imageHandler.ts
  components/menus/sniper.ts
  components/platformEntitlements.ts
  components/scoreHandler.ts
  components/smfSupport.ts
  components/types/score.ts
  components/utils.ts
  components/webFeatures.ts
Owners: @fu5ha

Doc type clarification
  components/contracts/escalations/escalationService.ts
Owners: none

Update Node.js to v20
  .cirrus.yml
  .nvmrc
Owners: @RDIL

Fix condition that will always be true
  components/contracts/hitsCategoryService.ts
Owners: none
