Repository thepeacockproject/Peacock, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RDIL, @AnthonyFuller, @fu5ha

.github/CODEOWNERS:

# CI
.cirrus.yml @RDIL
.github/workflows @RDIL
.github/workflows/locale.yml @AnthonyFuller

# LiveSplit
components/livesplit @fu5ha

# Evergreen
components/evergreen @AnthonyFuller
components/evergreen.ts @AnthonyFuller

# Localisation
resources @AnthonyFuller

Update locr crc32s
  tests/testData/game-defined-locr-crc32s.msgpack
Owners: none

The Ostentatious
  components/contracts/elusiveTargetArcades.ts
  components/contracts/missionsInLocation.ts
  contractdata/ARCADE/COFFEEFRUIT/COFFEEFRUIT.json
  contractdata/ARCADE/COFFEEFRUIT/COFFEEFRUIT1.json
  contractdata/ARCADE/COFFEEFRUIT/COFFEEFRUIT2.json
  static/EscalationCodenames.json
Owners: none

The Disruptor DLC
  components/inventory.ts
  components/ownership.ts
  components/platformEntitlements.ts
Owners: none

Bump resources version
  components/index.ts
  components/menus/menuSystem.ts
Owners: none

New Ambrose challenge
  contractdata/AMBROSE/_AMBROSE_CHALLENGES.json
Owners: none

Add Discord RP for Penicillin
  components/discord/discordRp.ts
Owners: none

Penicillin ET and Arcade challenges
  contractdata/ARCADE/_ARCADE_CHALLENGES.json
  contractdata/SGAIL/_SGAIL_CHALLENGES.json
  contractdata/SGAIL/_SGAIL_ELUSIVE_CHALLENGES.json
Owners: none

Use sgail image for The Disruptor RP
  components/discord/discordRp.ts
Owners: none

Bump version to v7.3.0
  package.json
Owners: none

Remove debriefing from The Disruptor ET
  contractdata/SGAIL/ELUSIVE/THEDISRUPTOR.json
Owners: none

Fix debriefing not being unskippable for L1 of coffeefruit
  contractdata/ARCADE/COFFEEFRUIT/COFFEEFRUIT1.json
Owners: none

Remove debriefing for level 2 of coffeefruit
  contractdata/ARCADE/COFFEEFRUIT/COFFEEFRUIT2.json
Owners: none

Add penicillin to agencypickups, happy @RDIL?
  static/AgencyPickups.json
Owners: none

Updated patcher to .NET 8.0
  patcher/.gitignore
  patcher/.idea/.idea.HitmanPatcher/.idea/.gitignore
  patcher/.idea/.idea.HitmanPatcher/.idea/copyright/AGPL_3_0.xml
  patcher/.idea/.idea.HitmanPatcher/.idea/encodings.xml
  patcher/App.config
  patcher/CliLocale.Designer.cs
  patcher/HitmanPatcher.csproj
  patcher/HitmanPatcher.sln
  patcher/HitmanVersion.cs
  patcher/MainForm.Designer.cs
  patcher/MainForm.cs
  patcher/Program.cs
  patcher/Properties/AssemblyInfo.cs
  patcher/Properties/Resources.Designer.cs
  patcher/Properties/Resources.resx
  patcher/Properties/Settings.Designer.cs
  patcher/Properties/Settings.settings
Owners: none

Updated patcher workflow
  .github/workflows/patcher.yml
  patcher/HitmanPatcher.CLI/HitmanPatcher.CLI.csproj
  patcher/HitmanPatcher.Core/Compositions.cs
  patcher/HitmanPatcher.Core/HitmanPatcher.Core.csproj
  patcher/HitmanPatcher.UI/HitmanPatcher.UI.csproj
Owners: @RDIL

Added support for unix file paths Updated workflow to also build smaller portable executables
  .github/workflows/patcher.yml
  patcher/.gitignore
  patcher/HitmanPatcher.CLI/HitmanPatcher.CLI.csproj
  patcher/HitmanPatcher.CLI/Program.cs
  patcher/HitmanPatcher.Core/Compositions.cs
  patcher/HitmanPatcher.Core/HitmanPatcher.Core.csproj
  patcher/HitmanPatcher.Core/Settings.cs
  patcher/HitmanPatcher.UI/HitmanPatcher.UI.csproj
  patcher/build.bat
Owners: @RDIL

Updated to actions/setup-dotnet@v4 Fixed wrong filenames for Linux artifacts
  .github/workflows/patcher.yml
Owners: @RDIL

Added support for both .NET 8 and .NET 4.6.1
  patcher/.gitignore
  patcher/HitmanPatcher.CLI/Cli.cs
  patcher/HitmanPatcher.CLI/HitmanPatcher.CLI.csproj
  patcher/HitmanPatcher.CLI/Program.cs
  patcher/HitmanPatcher.Core/Compositions.cs
  patcher/HitmanPatcher.Core/HitmanPatcher.Core.csproj
  patcher/HitmanPatcher.Core/Pinvoke.Windows.cs
  patcher/HitmanPatcher.Core/Pinvoke.cs
  patcher/HitmanPatcher.UI/App.config
  patcher/HitmanPatcher.UI/HitmanPatcher.UI.csproj
  patcher/HitmanPatcher.UI/Program.cs
  patcher/HitmanPatcher.sln
  patcher/HitmanPatcher.sln.DotSettings
Owners: none

Hotfixes after testrun on Steam Deck
  patcher/HitmanPatcher.Core/Pinvoke.Linux.cs
Owners: none

Added Pinvoke abstractions for Linux
  patcher/HitmanPatcher.CLI/HitmanPatcher.CLI.csproj
  patcher/HitmanPatcher.Core/AOBScanner.cs
  patcher/HitmanPatcher.Core/Compositions.cs
  patcher/HitmanPatcher.Core/HitmanPatcher.Core.csproj
  patcher/HitmanPatcher.Core/MemoryPatcher.cs
  patcher/HitmanPatcher.Core/Pinvoke.Linux.cs
  patcher/HitmanPatcher.Core/Pinvoke.Windows.cs
  patcher/HitmanPatcher.Core/Pinvoke.cs
  patcher/HitmanPatcher.sln.DotSettings
Owners: none

Attempt at fixing CodeQL
  .github/workflows/codeql.yml
  .github/workflows/patcher.yml
  patcher/build.bat
Owners: @RDIL

Added cross-compilation for .NET Framework 4.6 and .NET 8 Replaced embedded resources with custom implementation for proper cross-compilation support
  .github/workflows/patcher.yml
  patcher/HitmanPatcher.CLI/HitmanPatcher.CLI.csproj
  patcher/HitmanPatcher.CLI/ILRepack.targets
  patcher/HitmanPatcher.Core/HitmanPatcher.Core.csproj
  patcher/HitmanPatcher.UI/App.config
  patcher/HitmanPatcher.UI/HitmanPatcher.UI.csproj
  patcher/HitmanPatcher.UI/ILRepack.targets
  patcher/HitmanPatcher.UI/MainForm.Designer.cs
  patcher/HitmanPatcher.UI/MainForm.cs
  patcher/HitmanPatcher.UI/Program.cs
  patcher/HitmanPatcher.UI/Properties/Resources.Designer.cs
  patcher/HitmanPatcher.UI/Properties/Resources.resx
  patcher/HitmanPatcher.UI/Resources.cs
  patcher/build.bat
Owners: @RDIL

Fixed copy/paste error in codeql.yml
  .github/workflows/codeql.yml
Owners: @RDIL

Added option for CLI to keep scanning for processes Fixed issue where legacy GUI also has a console
  patcher/HitmanPatcher.CLI/Cli.cs
  patcher/HitmanPatcher.CLI/CliLocale.Designer.cs
  patcher/HitmanPatcher.CLI/CliLocale.resx
  patcher/HitmanPatcher.CLI/Program.cs
  patcher/HitmanPatcher.UI/ILRepack.targets
Owners: none

Add The Disruptor image to discord RP
  components/discord/discordRp.ts
Owners: none

Enable saving for The Disruptor
  contractdata/SGAIL/ELUSIVE/THEDISRUPTOR.json
Owners: none

Bump version to 7.3.1
  package.json
Owners: none

Fix penicillin entrances (whoops)
  static/Entrances.json
Owners: none

Add The Disruptor image to discord RP
  components/discord/discordRp.ts
Owners: none

Remove debriefing from The Disruptor ET
  contractdata/SGAIL/ELUSIVE/THEDISRUPTOR.json
Owners: none

Fix debriefing not being unskippable for L1 of coffeefruit
  contractdata/ARCADE/COFFEEFRUIT/COFFEEFRUIT1.json
Owners: none

Fix penicillin entrances (whoops)
  static/Entrances.json
Owners: none

Enable saving for The Disruptor
  contractdata/SGAIL/ELUSIVE/THEDISRUPTOR.json
Owners: none

Bump version to 7.3.1
  package.json
Owners: none

Add penicillin to agencypickups, happy @RDIL?
  static/AgencyPickups.json
Owners: none

Remove debriefing for level 2 of coffeefruit
  contractdata/ARCADE/COFFEEFRUIT/COFFEEFRUIT2.json
Owners: none

add arcade files
  components/contracts/elusiveTargetArcades.ts
  components/contracts/missionsInLocation.ts
  contractdata/AMBERGRIS/AMBERGRIS.json
  contractdata/AMBERGRIS/AMBERGRIS1.json
  contractdata/AMBERGRIS/AMBERGRIS2.json
  contractdata/AMBERGRIS/AMBERGRIS3.json
  static/EscalationCodenames.json
Owners: none

add arcade locales
  resources/locale.json
Owners: @AnthonyFuller

wrong path, oops!
  contractdata/AMBROSE/AMBERGRIS/AMBERGRIS.json
  contractdata/AMBROSE/AMBERGRIS/AMBERGRIS1.json
  contractdata/AMBROSE/AMBERGRIS/AMBERGRIS2.json
  contractdata/AMBROSE/AMBERGRIS/AMBERGRIS3.json
Owners: none

what a glorious feeling! wrong again
  contractdata/ARCADE/AMBERGRIS/AMBERGRIS.json
  contractdata/ARCADE/AMBERGRIS/AMBERGRIS1.json
  contractdata/ARCADE/AMBERGRIS/AMBERGRIS2.json
  contractdata/ARCADE/AMBERGRIS/AMBERGRIS3.json
Owners: none
