Repository thepeacockproject/Peacock, pull requests merged in 2023-04, with the labels that each got.

#180 Support "Discover [Location]" challenges
  components/databaseHandler.ts
  components/flags.ts
  components/utils.ts
Labels: challenges

#161 feat: Initial support for mastery progression
  components/candle/challengeService.ts
  components/candle/masteryService.ts
  components/candle/progressionService.ts
  components/controller.ts
  components/flags.ts
  components/inventory.ts
  components/menus/planning.ts
  components/scoreHandler.ts
  components/types/mastery.ts
  components/types/score.ts
Labels: progression

#186 Added featured contracts challenges
  components/candle/README.md
  components/candle/challengeHelpers.ts
  components/candle/challengeService.ts
  contractdata/FEATURED/_FEATURED_CHALLENGES.json
  contractdata/FEATURED/_H2_FEATURED_CHALLENGES.json
  package.json
  packaging/typedefs/package.json
  yarn.lock
Labels: challenges

#179 Fix contract lookup for H2
  components/configSwizzleManager.ts
  components/menus/favoriteContracts.ts
  static/H2LookupContractTemplate.json
Labels: contracts mode

#196 Update AreaDiscovered challenges during evergreen missions
  components/candle/challengeService.ts
  components/candle/progressionService.ts
  components/configSwizzleManager.ts
  components/eventHandler.ts
  components/types/challenges.ts
  components/types/types.ts
  components/utils.ts
  static/AreaMap.json
  static/PersistentBools.json
Labels: challenges

#202 Support configurable default starting suits lock/unlock
  components/2016/legacyMenuData.ts
  components/flags.ts
  components/inventory.ts
  components/menuData.ts
  components/menus/planning.ts
  components/ownership.ts
  components/utils.ts
Labels: new feature

#206 Fix evergreen wardrobe not loading
  components/menuData.ts
Labels: evergreen

#192 Add Elusive Target challenges on H3
  components/2016/legacyContractHandler.ts
  components/candle/challengeHelpers.ts
  components/candle/challengeService.ts
  components/contracts/contractRouting.ts
  components/controller.ts
  components/flags.ts
  components/menuData.ts
  components/menus/menuSystem.ts
  components/menus/planning.ts
  contractdata/BANGKOK/_BANGKOK_CHALLENGES.json
  contractdata/BERLIN/_BERLIN_CHALLENGES.json
  contractdata/CHONGQING/_CHONGQING_CHALLENGES.json
  contractdata/COLORADO/_COLORADO_CHALLENGES.json
  contractdata/DARTMOOR/_DARTMOOR_CHALLENGES.json
  contractdata/DUBAI/_DUBAI_CHALLENGES.json
  contractdata/GLOBAL/_ELUSIVES_CHALLENGES.json
  contractdata/HAWKESBAY/_HAWKESBAY_CHALLENGES.json
  contractdata/HOKKAIDO/_HOKKAIDO_CHALLENGES.json
  contractdata/MARRAKESH/THEANGELOFDEATH.json
  contractdata/MARRAKESH/_MARRAKESH_CHALLENGES.json
  contractdata/MENDOZA/_MENDOZA_CHALLENGES.json
  contractdata/MIAMI/_MIAMI_CHALLENGES.json
  contractdata/PARIS/_PARIS_CHALLENGES.json
  contractdata/SANTAFORTUNA/_SANTAFORTUNA_CHALLENGES.json
  contractdata/SAPIENZA/_SAPIENZA_CHALLENGES.json
  contractdata/SGAIL/_SGAIL_CHALLENGES.json
  contractdata/WHITTLETON/_WHITTLETON_CHALLENGES.json
  packaging/extractElusivesChallengeData.mjs
Labels: challenges

#210 Add global escalation challenges
  components/candle/challengeHelpers.ts
  components/candle/challengeService.ts
  components/controller.ts
  components/menus/destinations.ts
  components/scoreHandler.ts
  contractdata/BANGKOK/_LEGACY_BANGKOK_CHALLENGES.json
  contractdata/COLORADO/_LEGACY_COLORADO_CHALLENGES.json
  contractdata/FACILITY/_LEGACY_FACILITY_CHALLENGES.json
  contractdata/GLOBAL/_ESCALATION_CHALLENGES.json
  contractdata/GLOBAL/_H2_ESCALATION_CHALLENGES.json
  contractdata/GLOBAL/_LEGACY_ESCALATION_CHALLENGES.json
  contractdata/HOKKAIDO/_LEGACY_HOKKAIDO_CHALLENGES.json
  contractdata/MARRAKESH/_LEGACY_MARRAKESH_CHALLENGES.json
  contractdata/PARIS/_LEGACY_PARIS_CHALLENGES.json
  contractdata/SAPIENZA/_LEGACY_SAPIENZA_CHALLENGES.json
Labels: challenges, escalations

#216 Fix revolutionary and serial killer challenges
  components/contracts/elusiveTargets.ts
  contractdata/SANTAFORTUNA/ELUSIVE/THEREVOLUTIONARY.json
  contractdata/WHITTLETON/ELUSIVE/THESERIALKILLER.json
Labels: challenges

#217 Fix snowdrop having graduation's challenges
  components/candle/challengeService.ts
Labels: challenges, escalations

#224 Add a new "Discover the Yacht" challenge to h2 and h3
  contractdata/FACILITY/_FACILITY_CHALLENGES.json
  contractdata/FACILITY/_H2_FACILITY_CHALLENGES.json
  resources/dynamic_resources_h2.rpkg
  resources/dynamic_resources_h3.rpkg
  resources/locale_h2.json
  resources/locale_h3.json
Labels: challenges

#229 Fix mamushi having et challenges
  components/candle/challengeHelpers.ts
Labels: challenges

#230 Add extra escalation feat challenges
  contractdata/BANGKOK/_BANGKOK_CHALLENGES.json
  contractdata/BANGKOK/_H2_BANGKOK_CHALLENGES.json
  contractdata/BERLIN/_BERLIN_CHALLENGES.json
  contractdata/CHONGQING/_CHONGQING_CHALLENGES.json
  contractdata/COLORADO/_COLORADO_CHALLENGES.json
  contractdata/COLORADO/_H2_COLORADO_CHALLENGES.json
  contractdata/DARTMOOR/_DARTMOOR_CHALLENGES.json
  contractdata/HAVEN/_H2_HAVEN_CHALLENGES.json
  contractdata/HAVEN/_HAVEN_CHALLENGES.json
  contractdata/HOKKAIDO/_H2_HOKKAIDO_CHALLENGES.json
  contractdata/HOKKAIDO/_HOKKAIDO_CHALLENGES.json
  contractdata/MARRAKESH/_H2_MARRAKESH_CHALLENGES.json
  contractdata/MARRAKESH/_MARRAKESH_CHALLENGES.json
  contractdata/MENDOZA/_MENDOZA_CHALLENGES.json
  contractdata/MUMBAI/_H2_MUMBAI_CHALLENGES.json
  contractdata/MUMBAI/_MUMBAI_CHALLENGES.json
  contractdata/NEWYORK/_H2_NEWYORK_CHALLENGES.json
  contractdata/NEWYORK/_NEWYORK_CHALLENGES.json
  contractdata/PARIS/_H2_PARIS_CHALLENGES.json
  contractdata/PARIS/_PARIS_CHALLENGES.json
  contractdata/SAPIENZA/_H2_SAPIENZA_CHALLENGES.json
  contractdata/SAPIENZA/_SAPIENZA_CHALLENGES.json
  contractdata/WHITTLETON/_H2_WHITTLETON_CHALLENGES.json
  contractdata/WHITTLETON/_WHITTLETON_CHALLENGES.json
Labels: challenges, new feature, escalations, h2

#243 Fixed a nullability issue in evergreen when freelancer mastery is opted out
  components/evergreen.ts
Labels: evergreen

#235 Tick all unticked challenge in parent location on the mission end page
  components/candle/masteryService.ts
  components/candle/progressionService.ts
  components/contracts/dataGen.ts
  components/menuData.ts
  components/scoreHandler.ts
  components/types/types.ts
  static/LegacyUserDefault.json
  static/UserDefault.json
Labels: challenges, progression

#248 Disables loadout locks when mastery is disabled
  components/menus/planning.ts
Labels: progression

#254 Fix ET challenges not ticked on the mission end page
  components/candle/challengeService.ts
  components/profileHandler.ts
  components/scoreHandler.ts
Labels: challenges

#255 Add new Miami challenge for the Blue Streak Suit
  contractdata/MIAMI/_H2_MIAMI_CHALLENGES.json
  contractdata/MIAMI/_MIAMI_CHALLENGES.json
  resources/locale.json
Labels: challenges, new feature

#259 Remove global escalation challenges from sniper maps
  components/candle/challengeHelpers.ts
  components/candle/challengeService.ts
Labels: challenges
