Repository thepeacockproject/Peacock, pull requests merged in 2023-01, with the labels that each got.

#73 New saving/loading behaviors to fix bugs related to saving
  components/databaseHandler.ts
  components/eventHandler.ts
  components/profileHandler.ts
  components/types/types.ts
  static/LegacyUserDefault.json
  static/UserDefault.json
Labels: saves

#79 Add Challenge completion and level completion percentage display
  components/candle/challengeService.ts
  components/controller.ts
  components/menus/destinations.ts
  components/scoreHandler.ts
Labels: challenges, ui, progression, new feature

#77 Update season 1 challenges and add challenges for the rest of the locations
  contractdata/AMBROSE/_AMBROSE_CHALLENGES.json
  contractdata/BERLIN/_BERLIN_CHALLENGES.json
  contractdata/CARPATHIAN/_CARPATHIAN_CHALLENGES.json
  contractdata/CHONGQING/_CHONGQING_CHALLENGES.json
  contractdata/COLORADO/_COLORADO_CHALLENGES.json
  contractdata/DARTMOOR/_DARTMOOR_CHALLENGES.json
  contractdata/DUBAI/_DUBAI_CHALLENGES.json
  contractdata/FACILITY/_FACILITY_CHALLENGES.json
  contractdata/HAVEN/_HAVEN_CHALLENGES.json
  contractdata/HAWKESBAY/_HAWKESBAY_CHALLENGES.json
  contractdata/HOKKAIDO/_HOKKAIDO_CHALLENGES.json
  contractdata/MENDOZA/_MENDOZA_CHALLENGES.json
  contractdata/MIAMI/_MIAMI_CHALLENGES.json
  contractdata/MUMBAI/_MUMBAI_CHALLENGES.json
  contractdata/NEWYORK/_NEWYORK_CHALLENGES.json
  contractdata/PARIS/_PARIS_CHALLENGES.json
  contractdata/SANTAFORTUNA/_SANTAFORTUNA_CHALLENGES.json
  contractdata/SGAIL/_SGAIL_CHALLENGES.json
  contractdata/SNIPER/_AUSTRIA_CHALLENGES.json
  contractdata/SNIPER/_CAGED_CHALLENGES.json
  contractdata/SNIPER/_SALTY_CHALLENGES.json
  contractdata/WHITTLETON/_WHITTLETON_CHALLENGES.json
Labels: challenges, new feature

#80 Implement the Challenges tab on the Career page
  components/candle/challengeHelpers.ts
  components/candle/challengeService.ts
  components/configSwizzleManager.ts
  components/menuData.ts
  components/scoreHandler.ts
  static/ChallengeLocationTemplate.json
Labels: challenges, ui, new feature

#82 Fix all broken challenges in #22
  THIRDPARTYNOTICES.txt
  components/candle/challengeService.ts
  components/profileHandler.ts
  package.json
  packaging/typedefs/package.json
  yarn.lock
Labels: challenges, dependencies

#83 Fix location-wide challenges missing for some contracts and locations
  components/candle/challengeHelpers.ts
Labels: challenges

#30 Added service for mastery data
  .gitignore
  components/candle/masteryService.ts
  components/configSwizzleManager.ts
  components/contracts/dataGen.ts
  components/controller.ts
  components/menuData.ts
  components/types/mastery.ts
  components/types/types.ts
  contractdata/AMBROSE/_AMBROSE_MASTERY.json
  contractdata/BANGKOK/_BANGKOK_MASTERY.json
  contractdata/BERLIN/_BERLIN_MASTERY.json
  contractdata/CARPATHIAN/_CARPATHIAN_MASTERY.json
  contractdata/CHONGQING/_CHONGQING_MASTERY.json
  contractdata/COLORADO/_COLORADO_MASTERY.json
  contractdata/DARTMOOR/_DARTMOOR_MASTERY.json
  contractdata/DUBAI/_DUBAI_MASTERY.json
  contractdata/HAVEN/_HAVEN_MASTERY.json
  contractdata/HAWKESBAY/_HAWKESBAY_MASTERY.json
  contractdata/HOKKAIDO/_HOKKAIDO_MASTERY.json
  contractdata/MARRAKESH/_MARRAKESH_MASTERY.json
  contractdata/MENDOZA/_MENDOZA_MASTERY.json
  contractdata/MIAMI/_MIAMI_MASTERY.json
  contractdata/MUMBAI/_MUMBAI_MASTERY.json
  contractdata/NEWYORK/_NEWYORK_MASTERY.json
  contractdata/PARIS/_PARIS_MASTERY.json
  contractdata/SANTAFORTUNA/_SANTAFORTUNA_MASTERY.json
  contractdata/SAPIENZA/_SAPIENZA_MASTERY.json
  contractdata/SGAIL/_SGAIL_MASTERY.json
  contractdata/WHITTLETON/_WHITTLETON_MASTERY.json
  packaging/build.mjs
  packaging/buildTasks.mjs
  packaging/devLoader.mjs
  static/MasteryDataForLocationTemplate.json
Labels: progression, major

#95 Fix a UI detail for the Challenges tab on the planning page
  components/candle/challengeService.ts
Labels: challenges, ui, h2

#96 Fix the legacy contract downloader and improve options related to it
  components/controller.ts
  components/entitlementStrategies.ts
  components/flags.ts
  components/oauthToken.ts
Labels: contracts mode

#88 Fix mission end screens for challenges
  components/2016/legacyProfileRouter.ts
  components/candle/challengeService.ts
  components/profileHandler.ts
  components/scoreHandler.ts
  components/types/challenges.ts
  components/types/types.ts
Labels: challenges

#97 Fix unwanted tiles on career -> challenges page
  components/menuData.ts
Labels: challenges, ui
