Repository thepeacockproject/Peacock, pull requests merged in 2023-03, with the labels that each got.

#147 Remove The Caged Bull from h1
  components/contracts/hitsCategoryService.ts
Labels: contracts mode, h2016

#149 Remove disguises from inventory in h1 and h2
  components/inventory.ts
Labels: h2016, h2

#138 Add Recommended mission stories
  components/menuData.ts
  components/menus/playnext.ts
Labels: ui

#146 Add global "The Classics" challenges
  components/candle/challengeHelpers.ts
  components/candle/challengeService.ts
  components/profileHandler.ts
  components/statemachines/contextListeners.ts
  components/types/challenges.ts
  components/types/types.ts
  contractdata/GLOBAL/_CLASSICS_CHALLENGES.json
Labels: challenges, new feature

#117 Implement "Contract search", "Trending", and "Most played last week" tiles for contracts menu
  components/configSwizzleManager.ts
  components/contracts/contractsModeRouting.ts
  components/contracts/hitsCategoryService.ts
  components/controller.ts
  components/entitlementStrategies.ts
  components/menuData.ts
  components/menus/planning.ts
  components/oauthToken.ts
  components/types/types.ts
  components/utils.ts
  static/ContractSearchPaginateTemplate.json
Labels: contracts mode, new feature, backlog

#151 Update SMP to 5.3.0
  package.json
  packaging/typedefs/package.json
  yarn.lock
Labels: dependencies

#154 Fix nullability issue in inclusion data check
  components/candle/challengeHelpers.ts
Labels: urgent

#86 Add support for XP progression
  components/candle/challengeService.ts
  components/candle/masteryService.ts
  components/contracts/contractsModeRouting.ts
  components/controller.ts
  components/databaseHandler.ts
  components/eventHandler.ts
  components/evergreen.ts
  components/index.ts
  components/menuData.ts
  components/menus/planning.ts
  components/profileHandler.ts
  components/scoreHandler.ts
  components/types/challenges.ts
  components/types/events.ts
  components/types/score.ts
  components/types/types.ts
  components/utils.ts
  static/GlobalChallenges.json
Labels: challenges, progression

#99 Prevent disconnections caused by contract report requests
  components/configSwizzleManager.ts
  components/contracts/reportRouting.ts
  components/index.ts
  components/menuData.ts
  static/ReportTemplate.json
Labels: contracts mode, backlog

#98 Implement contract history and completion tracker
  components/contracts/dataGen.ts
  components/contracts/hitsCategoryService.ts
  components/eventHandler.ts
  components/scoreHandler.ts
  components/types/types.ts
  components/utils.ts
  static/LegacyUserDefault.json
  static/UserDefault.json
Labels: contracts mode

#37 Added vitest and configuration to support unit tests
  .eslintrc.js
  components/candle/challengeHelpers.ts
  components/candle/masteryService.ts
  components/contracts/contractRouting.ts
  components/menus/destinations.ts
  components/multiplayer/multiplayerMenuData.ts
  package.json
  packaging/eslint/import-components.js
  packaging/eslint/index.js
  tests/helpers/testHelpers.ts
  tests/mocks/configSwizzleManager.ts
  tests/setup/globalDefines.ts
  tests/src/oauthToken.test.ts
  tests/src/scoreHandler.test.ts
  tests/src/vitest.test.ts
  tests/tsconfig.json
  tests/vitest.config.ts
  tsconfig.json
  yarn.lock
Labels: new feature

#148 Add mastery data for sniper missions
  .gitignore
  components/candle/challengeService.ts
  components/candle/masteryService.ts
  components/contracts/contractRouting.ts
  components/contracts/dataGen.ts
  components/menuData.ts
  components/menus/planning.ts
  components/menus/sniper.ts
  components/scoreHandler.ts
  components/types/types.ts
  components/utils.ts
  static/SniperLoadouts.json
Labels: sniper assassin, ui, progression, new feature

#163 Favorite contracts rework
  components/contracts/dataGen.ts
  components/contracts/hitsCategoryService.ts
  components/menuData.ts
  components/menus/favoriteContracts.ts
  components/types/types.ts
Labels: contracts mode
