Repository thepeacockproject/Peacock, pull requests merged in 2023-05, with the labels that each got.

#260 Fix The Mills Reverie lvl 3
  contractdata/HAWKESBAY/ESCALATION/MILLS/MILLS3.json
Labels: escalations

#268 Fix a number of timer-related broken challenges
  components/candle/challengeService.ts
Labels: challenges

#271 Save challenge states for "Hit"/"Profile" challenges
  components/candle/challengeService.ts
  components/eventHandler.ts
  components/profileHandler.ts
  components/types/challenges.ts
Labels: challenges

#267 Add "Support is not Currently Available" challenge in NY
  contractdata/NEWYORK/_H2_NEWYORK_CHALLENGES.json
  contractdata/NEWYORK/_NEWYORK_CHALLENGES.json
  resources/locale.json
Labels: challenges

#187 Redo contract retrieval from official
  components/candle/challengeService.ts
  components/contracts/contractsModeRouting.ts
  components/contracts/hitsCategoryService.ts
  components/controller.ts
  components/entitlementStrategies.ts
  components/flags.ts
  components/menus/planning.ts
  components/oauthToken.ts
Labels: contracts mode, new feature

#273 Sniper Scoring
  components/2016/legacyMenuData.ts
  components/candle/masteryService.ts
  components/candle/progressionService.ts
  components/configSwizzleManager.ts
  components/contracts/contractRouting.ts
  components/contracts/dataGen.ts
  components/eventHandler.ts
  components/generatedPeacockRequireTable.ts
  components/inventory.ts
  components/menuData.ts
  components/menus/menuSystem.ts
  components/menus/playnext.ts
  components/scoreHandler.ts
  components/types/score.ts
  components/types/scoring.ts
  components/types/sniperModules.ts
  components/types/types.ts
  components/utils.ts
  static/GlobalChallenges.json
  static/SniperGamemodesTemplate.json
Labels: sniper assassin, progression, new feature
