Repository thepeacockproject/Peacock, pull requests merged in 2024-04, with the labels that each got.

#411 feat: New challenge pack: Butcher's Delight
  components/candle/challengeService.ts
  contractdata/AMBROSE/_AMBROSE_CHALLENGES.json
  contractdata/ARCADE/_ARCADE_CHALLENGES.json
  contractdata/CHONGQING/_CHONGQING_CHALLENGES.json
  contractdata/DUBAI/_DUBAI_CHALLENGES.json
  contractdata/GLOBAL/_CHEESECAKE_CHALLENGES.json
  contractdata/MIAMI/_H2_MIAMI_CHALLENGES.json
  contractdata/SANTAFORTUNA/_SANTAFORTUNA_CHALLENGES.json
  contractdata/SAPIENZA/_SAPIENZA_CHALLENGES.json
  resources/locale.json
Labels: challenges

#421 Yulania: fix level 2 doesn't require eliminating rooftop target
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA1.json
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA2.json
  contractdata/HAWKESBAY/ESCALATION/YULANIA/YULANIA3.json
Labels: bug, escalations

#424 Add 2 sambuca start challenges for H2
  contractdata/MIAMI/_H2_MIAMI_CHALLENGES.json
Labels: challenges, h2

#414 Implement contract creation kill conditions
  components/contracts/contractRouting.ts
  components/contracts/dataGen.ts
  components/statemachines/contractCreation.ts
  components/types/types.ts
  tests/src/__snapshots__/contractCreation.test.ts.snap
  tests/src/contractCreation.test.ts
  tests/testData/contractCreationCases.json
Labels: contracts mode, new feature
