Repository thepeacockproject/Peacock, pull requests merged in 2024-01, with the labels that each got.

#359 Check for small item sizes for hidden stash
  .gitignore
  .prettierignore
  components/2016/legacyMenuData.ts
  components/menuData.ts
  components/types/types.ts
  packaging/add_itemsize/add_itemsize.js
  static/H2allunlockables.json
  static/Legacyallunlockables.json
  static/Scpcallunlockables.json
  static/allunlockables.json
Labels: bug

#363 New non-pack challenges
  contractdata/AMBROSE/_AMBROSE_CHALLENGES.json
  contractdata/DUBAI/_DUBAI_CHALLENGES.json
  contractdata/HAVEN/_HAVEN_CHALLENGES.json
  contractdata/HAWKESBAY/_HAWKESBAY_CHALLENGES.json
  contractdata/HOKKAIDO/_HOKKAIDO_CHALLENGES.json
  contractdata/PARIS/_PARIS_CHALLENGES.json
  contractdata/SNIPER/_AUSTRIA_CHALLENGES.json
  contractdata/WHITTLETON/_WHITTLETON_CHALLENGES.json
Labels: challenges

#370 Escalation QoL fix: Shangrila & Xmas
  contractdata/BERLIN/ESCALATION/MENDIE/MENDIE3.json
  contractdata/PARIS/ESCALATION/XMAS/XMAS2.json
  contractdata/PARIS/ESCALATION/XMAS/XMAS3.json
Labels: escalations

#375 Remove redundant sloth challenge
  contractdata/DARTMOOR/_DARTMOOR_CHALLENGES.json
Labels: challenges, escalations
